<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>中标详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/tender/tender.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>招标详情标题</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
  <div class="wrapper">
     <ul class="details">
       <li><span class="font-color">中标单位 ：</span><span>深圳前海金融有限公司</span></li>
       <li><span class="font-color">所在地区 ：</span><span>广东 深圳</span></li>
       <li><span class="font-color">联  系  人 ：</span><span>赵嘉欣</span></li>
     </ul>
     <div class="con-text">
       <h2>中标条件</h2>
       <div class="con-text-div textAlign">
         本招标项目土主镇卫生院综合楼装饰改造工程已由沙坪坝区发展和改革委员会以沙发改【2014】98号文批准建设，项目业主为重庆市沙坪坝区土主镇卫生院，建设资金来自业主自筹，项目出资比例为100%，招标人为重庆市沙坪坝区土主镇卫生院。项目已具备招标条件，现对该项目的施工进行公开招标。
       </div>
       <h2>项目概况与招标范围</h2>
       <div class="con-text-div textAlign">
         2.1工程概况：本项目为房屋装饰改造工程，总建筑面积为2319㎡，包括室内外装修、消防改造等内容。总投资约为：588亿
       </div>     
     </div>
  </div>
</body>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
</html>