<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>招标/投标</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="招标/投标" />
        <meta name="Description" content="招标/投标" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/tender/tender.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>招标投标</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
<div class="wrapper">
  <!-- tabs -->
    <div  class="tabs">
      <ul class="menu">
          <li class="on border_right">招标预告</li>
          <li>中标公告</li>
      </ul>
      <div  class="main">          
          <div  class="tab" style="display:block;">
             <a href="tender.details.html">
                 <p class="t1">我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">招标单位：北京五棵松文化艺术有限公司</p>
                 <p class="color">截止日期：2016-06-18</p>           
             </a>
            <a href="tender.details.html">
                 <p class="t1">我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">招标单位：北京五棵松文化艺术有限公司</p>
                 <p class="color">截止日期：2016-06-18</p>
             </a>
             <a href="tender.details.html">
                 <p class="t1">我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">招标单位：北京五棵松文化艺术有限公司</p>
                 <p class="color">截止日期：2016-06-18</p>           
             </a>
            <a href="tender.details.html">
                 <p class="t1">我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">招标单位：北京五棵松文化艺术有限公司</p>
                 <p class="color">截止日期：2016-06-18</p>
             </a> 
            <a href="tender.details.html">
                 <p class="t1">我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">招标单位：北京五棵松文化艺术有限公司</p>
                 <p class="color">截止日期：2016-06-18</p>
             </a>                                                                                                                         
          </div>

          <div  class="tab" >
              <a href="bid.details.html">
                 <p class="t1">2我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">中标单位：北京五棵松文化艺术有限公司</p>
             </a>
              <a href="bid.details.html">
                 <p class="t1">2我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">中标单位：北京五棵松文化艺术有限公司</p>
             </a> 
              <a href="bid.details.html">
                 <p class="t1">2我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">中标单位：北京五棵松文化艺术有限公司</p>
             </a> 
              <a href="bid.details.html">
                 <p class="t1">2我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">中标单位：北京五棵松文化艺术有限公司</p>
             </a>
              <a href="bid.details.html">
                 <p class="t1">2我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">中标单位：北京五棵松文化艺术有限公司</p>
             </a> 
              <a href="bid.details.html">
                 <p class="t1">2我公司为国家一级资质，现在面向全社会招标，详细内容的一句话简介；我今天有卖了1亿块钱资材呀</p>
                 <p class="color">中标单位：北京五棵松文化艺术有限公司</p>
             </a>                                                                                                               
          </div>
      </div>
  </div> 
  <!-- tabs  end-->
  <!--  footer  --> 
    <footer class="footer">
        <div class="lineUp"></div>
        <ul class="footer-links">
            <li class="">
             <a  class="loginGo"  href="#">登录</a>
             <!-- 登录后 账号显示 -->
           <!--  <div class="loginOk">
                 <a href="" class="account">1297698705</a>
                 <a href="">注销</a>
            </div> -->
            </li>
            <li class="ringtLine"><a  class="regist"  href="#">注册</a></li>
            <li><a   href="#">电脑版</a></li>
            <li><a  href="#top">客户端</a></li>
        </ul>
        <div class="lineUp">
        </div>
<!--         <ul class="footer-platforms">
            <li class="footer-icon-apps"><a class="badge J_ping"  href="#">客户端</a></li>
            <li class="touchscreen current"><a class="J_ping"  href="javascript:void(0)">触屏版</a></li>
            <li class="icon-pc"><a id="layout_toPcHome" class="J_ping"  href="javascript:void(0);">电脑版</a></li>
        </ul>
        <div class="lineUp"> -->
        </div>
        <div class="footer-copyright">
            Copyright&copy;2015 pincai360.com 版权所有
        </div>
    </footer>
  <!--  footer end -->   
</div>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>

    <script type="text/javascript">
      $(function(){
         //切换 
         tabs();
      })
    </script>
</body>
</html>