.company{background:#fff;margin:10px 0px;padding-bottom: 5px;}
.company-hz{margin-top: 0px;}
.company .title{display:inline-block;font-size:1.5rem;padding-bottom:7px;color:#666;margin:8px 0 2px 7px;white-space:nowrap;}
.company .activity-floor-title{display:inline-block;font-size:15px;color:#7f7f7f;margin:8px 0 2px 7px;white-space:nowrap}
.company .title:before{content:"";display:block;width:3px;height:14px;float:left;background:#28c83c;margin:3px 7px 0 0}
.company .activity-floor-title:before{content:"";display:block;width:3px;height:12px;float:left;background:#d8505c;margin:1px 7px 0 0}
.company_list{clear:both;margin:0em 0px 1em 0px;}
.company_list-hz{border-top: solid 1px #e6e6e6;}
.company_list .li_list{padding: 12px 0px; overflow: hidden; margin-left: 10px;  }
.company_list .li_list .company_logo{float:left;clear:both;margin:.7em 10px .6em; border: solid 1px #e8e8e8;}
.company_list .li_list .link_a{display:block;overflow:hidden;clear:both;padding:0.22em 0px 0.22em 0px;}
.company_list .li_list .company_logo{margin:1px 10px 0.1em 0px}
.company_list .company_info{display:block;overflow:hidden; min-height: 70px; border-bottom: solid 1px #e8e8e8;}
.company_list p{display:block;margin:2px 0 .3em;font-weight:400;}
.company_list .name{color:#333;font-size:1.4rem;}
.company_list .name .name_info{max-width: 80%; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;}
.company_list .name .hot{margin-left: 4px;}
.company_list .money{color: #666666; font-size:1.2rem;}
.company_list .money .fr{margin-right: 10px; color: #28c83c; font-size: 1.4rem;}
.company_list .money .fl{max-width: 75%; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;}
.company_list .address{color: #999999; font-size:1.2rem;}
.company_list .address .fr{margin-right: 10px; font-size: 10px;}
.company_list .address .fl{max-width: 75%; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;}
.company_list .company-tp{border-bottom: none;}
.company_list .company-tp p{line-height: 22px;}
.company_list .company-tp .name{margin-top: 12px;}
.company_list .li-info{border-bottom: solid 1px #e6e6e6; margin-left: 0px;}
.company_list .li-info .company_logo{margin-left: 10px;}
/* company.records */
.wrapper .banner{position: relative;}
.wrapper .banner img{width: 100%; display: block;}
.wrapper .banner .logo{position: absolute;bottom: 0px; left: 8.3%; ;width: 70px; height: 60px; background: #fff;  border-top-left-radius: 8px; border-top-right-radius: 8px;}
.wrapper .banner .logo img{width: 80%; display: block; margin: 0 auto; padding-top: 10%;}
.wrapper .banner .ban_right{width: 48%; height: 32px; position: absolute; right: 6%; bottom: 8%;  line-height: 32px;}
.wrapper .banner .ban_right .ban_right_nav{position: relative; height: 100%;}
.wrapper .banner .ban_right .ban_right_nav a{height: 100%; font-size: 1.4rem; color: #fff; display: block;  }
.wrapper .banner .ban_right .ban_right_nav a span{padding-left: 5px; float: left;}
.wrapper .banner .ban_right .ban_right_nav a .qxsc{display: none;}
.wrapper .banner .ban_right .ban_right_nav .collect{position: absolute; left: 0px; top: 0px; }
.wrapper .banner .ban_right .ban_right_nav .collect2{position: absolute; right: 0px; top: 0px; }
.wrapper .banner .ban_right .ban_right_nav .collect .icons,.collect2 .icons{float: left;display: inline-block; width: 25px; height: 100%; background: url(../../images/purchasing/icon_sc.png) no-repeat;background-size: 100%; background-position: 0px 4px;}
.wrapper .banner .ban_right .ban_right_nav .go{position: absolute; right: 0px; top: 0px; padding-left: 30px; padding-left: 10px;}
.wrapper .banner .ban_right .ban_right_nav .go .iconj{float: left;display: inline-block; width: 25px; height: 100%; background: url(../../images/purchasing/icon_jd.png) no-repeat;background-size: 100%; background-position: 0px 5px;}
.wrapper .viewport{overflow: hidden; background: #fff;   box-shadow: 0 1px 1px #dcdcdc;}
.wrapper .viewport .company_info{padding: 20px 10px 15px 25px;}
.wrapper .viewport .company_info ul{}
.wrapper .viewport .company_info ul li{line-height: 22px; font-size: 1.4rem; color: #999; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;} 
.wrapper .viewport .company_info ul li:first-child{font-size: 1.6rem; color: #333; }
.wrapper .viewport .company_info ul li:first-child span{float: left;}
.wrapper .viewport .company_info ul li:first-child i{float: left; background: url(../../images/purchasing/icon_rz.png) no-repeat; display: block;width: 18px; height: 18px; background-size: 100%; margin: 3px 0px 0px 5px;}
.wrapper .viewport .contact{border-top: solid 1px #ccc;  height: 30px; line-height: 30px; }
.wrapper .viewport .contact a{width: 50%; display: block; float: left; padding: 10px 0px; font-size: 1.5rem; color: #333; height: 100%; text-align: center;}

.wrapper .viewport .contact a span{position: relative;display: inline-block; }
.wrapper .viewport .contact a .phone i{ position: absolute; display: inline-block; width: 25px; height: 100%; background: url(../../images/purchasing/icon_phone.png) no-repeat;background-size: 60%; background-position: 0px 4px; padding-right: 5px;}
.wrapper .viewport .contact a .person i{ position: absolute; display: inline-block; width: 25px; height: 100%; background: url(../../images/purchasing/icon_gr.png) no-repeat;background-size: 60%; background-position: 0px 4px; padding-right: 5px;}
.wrapper .viewport .contact a span em{font-style: normal; padding-left: 20px;}
.wrapper .viewport .contact a:first-child{border-right: solid 1px #ccc; margin-left:-1px; }
.company .h2{font-size:1.6rem;padding:10px 0px ;color:#666;white-space:nowrap; border-bottom: solid 1px #e8e8e8; margin: 0px 10px;}
.company .introduction{padding: 10px 10px; line-height: 25px; font-size: 1.4rem;}

.list{background: #fff; padding: 0px 0px 15px 0px;}
.list .h2{font-size:1.6rem;padding:10px 0px ;color:#666;white-space:nowrap; border-bottom: solid 1px #e8e8e8; margin: 0px 10px;}
.purList .purItem {display:block; border-bottom:1px solid #e8e8e8; padding:5px 10px;}
.purList .purItem .purItemTil {height:26px; line-height:26px; overflow:hidden;}
.purList .purItem .purItemTil .purItemTilTxt {max-width:85%; font-size:1.4rem; color:#333; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.purList .purItem .purItemTil .purItemTilIco {width:16px; height:16px; float:left; background:url(../../images/purchase/shen.png) no-repeat; background-size:100%; margin-left:10px; margin-top:5px;}
.purList .purItem .purItemNum {height:24px; line-height:24px; font-size:1.4rem; color:#666; overflow:hidden;}
.purList .purItem .purItemNum .purItemNumRed {color:#ff4560;}
.purList .purItem .purItemDesc li {height:24px; line-height:24px; color:#999; float:left; font-size:1.2rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.purList .purItem .purItemDesc li.purItemCom {width:40%;}
.purList .purItem .purItemDesc li.purItemDay {width:32%; margin-left:3%;}
.purList .purItem .purItemDesc li.purItemQuote {width:25%;}

/* 详情 */
#wrapper {width:100%; position:absolute; z-index:1; top:0px; bottom:0; left:0; overflow:auto;}
.topNav {height:55px; background:#ddd; border-bottom:1px solid #ccc; position:absolute; z-index:10; display:none;top: 44px; top: 44px; left: 0px; width: 100%;}
#wrapper .main .banner{position: relative;}
#wrapper .main .banner img{width: 100%; display: block;}
#wrapper .main .banner .logo{position: absolute;bottom: 0px; left: 8.3%; ;width: 70px; height: 60px; background: #fff;  border-top-left-radius: 8px; border-top-right-radius: 8px;}
#wrapper .main .banner .logo img{width: 80%; display: block; margin: 0 auto; padding-top: 10%;}
#wrapper .main .viewport{overflow: hidden; background: #fff; }
#wrapper .main .viewport .company_info{padding: 20px 10px 15px 25px;}
#wrapper .main .viewport .company_info ul{overflow: hidden;}
#wrapper .main .viewport .company_info ul li{line-height: 22px; font-size: 1.4rem; color: #999; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;} 
#wrapper .main .viewport .company_info ul li:first-child{font-size: 1.6rem; color: #333;}
#wrapper .main .viewport .company_info ul li:first-child span{float: left;}
#wrapper .main .viewport .company_info ul li:first-child i{float: left; background: url(../../images/purchasing/icon_rz.png) no-repeat; display: block;width: 18px; height: 18px; background-size: 100%; margin: 3px 0px 0px 5px;}
#wrapper .main .viewport .contact{border-top: solid 1px #ccc;  height: 30px; line-height: 30px; }
#wrapper .main .viewport .contact a{width: 50%; display: block; float: left; padding: 10px 0px; font-size: 1.5rem; color: #333; height: 100%; text-align: center;}
.marketMenu {height:40px; margin:0 5px; position:relative;}
.marketMenu a {display:block; width:49%; height:40px; line-height:40px; float:left; text-align:center; font-size:1.4rem; }
.marketMenu a:nth-child(2){margin-left: 6px;}
.marketMenu a.act {color:#28c83c; border-bottom: solid 2px #28c83c; height: 38px;}
.marketMenu p{width: 80px; margin: 0 auto; padding: 0px; clear: both; height: 100%;}
.marketMenu a:nth-child(1) p i{  display: inline-block; width: 20px; height: 100%; background: url(../../images/common/hot1.png) center no-repeat;background-size: 70%; background-position: 0px 12px; float: left;}
.marketMenu a:nth-child(2) p i{  display: inline-block; width: 20px; height: 100%; background: url(../../images/common/all1.png) center no-repeat;background-size: 70%; background-position: 0px 12px; float: left;}
.marketMenu a:nth-child(1) p .i-bg{background: url(../../images/common/hot1_1.png) center no-repeat;background-size: 70%; background-position: 0px 11px;}
.marketMenu a:nth-child(2) p .i-bg{background: url(../../images/common/all1_1.png) center no-repeat;background-size: 70%; background-position: 0px 12px;}
.marketMenu a span{display: inline-block; float: left;}
.wrapper .viewport .listProduct a span em{font-style: normal; padding-left: 25px;}


.exciting {background:#efeff4;  box-shadow: 0 1px 1px #dcdcdc;}
.exciting .excitingItem {margin:0 2px; padding-top: 8px; position:relative;}
.exciting .excitingItem li {width:50%; float:left; margin-bottom:5px; position: absolute;}
.exciting .excitingItem li a {display:block; background:#fff; margin:0 3px; padding-bottom:5px; box-shadow: 0 1px 1px #dcdcdc;}
.exciting .excitingItem .excitingImg img {width:100%; height:100%;}
.exciting .excitingItem .excitingTxt {height:32px; line-height:16px; padding:0 6px; font-size:1.2rem; color:#333; overflow:hidden; margin-top:5px;}
.exciting .excitingItem .excitingPrict {height:20px; line-height:20px; margin-top:2px; padding:0 6px; font-size:1.4rem; color:#ff4560;}
#pullDown {display:none;}
#pullUp{padding-bottom: 45px;}

.footer{margin-bottom: 45px;}
/* 底部导航*/
.foot-nav{width: 100%; position: fixed;  left: 0px; bottom: 0px; height: 45px; line-height: 45px; z-index: 99;  }
.foot-nav a{display: block; float: left; height: 100%; text-align: center; color: #fff; font-size: 1.6rem;}
.foot-nav a span{display: block; font-size: 1.2rem; line-height: 20px;}
.foot-nav a i{width: 25px; height: 20px; margin: 0 auto; margin-top: 4px;}
.foot-nav a:nth-child(1){width: 20%; background: #323236;}
.foot-nav a:nth-child(1) i{display: block;background: url(../../images/purchasing/icon_sc.png) center no-repeat;background-size: 90%; }
.foot-nav a:nth-child(2){width: 20%; background: #323236; }
.foot-nav a:nth-child(2) i{display: block;background: url(../../images/purchasing/icon_jd.png) center no-repeat;background-size: 90%; }
.foot-nav a:nth-child(3){width: 30%; background: #ff4560;}
.foot-nav a:nth-child(4){width: 30%; background: #28c83c;}

/* 基本信息 */
.info-div {background: #fff;}
.info-nav{border-bottom: solid 1px #ccc; height: 40px;}
.info-nav li{width:33.24%; background: #f5f5f5; float: left; height:40px; line-height: 40px; text-align: center; } 
.info-nav li a{font-size: 1.5rem; display: block;width: 100%; height: 100%;}
.info-nav li .act{background: #ffffff; color: #28c83c; height: 42px; border-top: solid 2px #28c83c;}
.info-nav li:nth-child(1){border-right: solid 1px #ccc;}
.info-nav li:nth-child(2){border-right: solid 1px #ccc;}
.dl-info{background: #fff; padding: 10px  10px 8px 10px; }
.dl-info dd{position: relative;font-size: 1.4rem; line-height: 35px; clear: both; overflow: hidden; } 
.dl-info dd b{float: left; font-weight: normal; color: #999999; display: inline-block; width: 65px;}
.dl-info dd span{float: left;color: #333; text-overflow: ellipsis;white-space: nowrap; overflow: hidden; display: inline-block; width: 70%;} 
.dl-info dd i{position: absolute; right: 15px;top: 5px; display: inline-block; width: 20px; height: 20px; background: url(../../images/purchasing/icon_phone.png) no-repeat;background-size: 60%; background-position: 0px 4px; padding-right: 5px; }
.div-text{text-indent: 30px; font-size: 1.4rem; color: #333; margin:0px 10px;  text-align:justify; text-justify:inter-ideograph; line-height: 30px; padding-top: 10px; border-top: solid 1px #ccc;}
.div-address{margin:0px 10px;}
input#address{width:100%;}
#container{width:100%;min-height:250px;}

.div-company{background: #fff; padding: 15px 10px; overflow: hidden;}
.div-company .div-left{float: left; width: 80px; height:80px;}
.div-company .div-left img{display: block; width: 100%;}
.div-company .div-right{float: left; min-height: 80px; margin-left: 10px;}
.div-company .div-right p{line-height: 30px;  }
.div-company .div-right p:nth-child(1){font-size: 1.8rem; color: #333; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;max-width: 200px;}
.div-company .div-right p:nth-child(2){font-size: 1.4rem;color: #999;}
.div-company .div-right p:nth-child(2) i{float: left; background: url(../../images/purchasing/icon_rz.png) no-repeat; display: block;width: 18px; height: 18px; background-size: 100%; margin: 6px 5px 0px 0px;}
.div-company .div-right p:nth-child(2) span{float: left;}

.div-title{color: #333; font-size: 1.6rem; clear: both; padding:11px 0px 11px 10px; border-left: solid 2px #28c83c;}
.ul-link{overflow: hidden; margin: 0 auto;width: 100%; background: #fff; padding-bottom: 15px; padding-top: 5px; }
.ul-link li{text-align: center; }
.ul-link li a{float: left;  width: 30%; display: block;  margin-left: 2.5%;  margin-top: 2.5%; }
.ul-link li a img{width: 100%; border-radius: 2px;}

.dl-info-box{background: #fff; padding: 10px  10px 40px 10px; }
.dl-info-box dd{font-size: 1.4rem; line-height: 35px; clear: both; overflow: hidden; } 
.dl-info-box dd b{float: left; font-weight: normal; color: #999999; display: inline-block; width: 65px;}
.dl-info-box dd span{float: left;color: #333;  display: inline-block; width: 75%;} 
.dl-info-box dd:nth-child(2) span{line-height: 20px;} 
.dl-info-box dd:nth-child(4) span{line-height: 20px;}
.dl-info-box dd:nth-child(2) b{line-height: 20px;} 
.dl-info-box dd:nth-child(4) b{line-height: 20px;}
.dl-info-box dd:nth-child(3) {padding-top: 15px;}
.dl-info-box dd:nth-child(5) {padding-top: 15px;}






    















