<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>合作名企</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" href="../../resources/swiper/idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="../../themes/css/purchasing/purchasing.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>合作名企专区</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  end -->
<div class="wrapper">
    <!-- 滑动幻灯片-->
    <div class="slide">
        <div class="banner-img">
            <img src="../../themes/images/market/banbg.png" width='100%' style="vertical-align:top">
            <div class="home-device">
                <div class="swiper-main">
                    <div class="swiper-container swiperView">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="">
                                    <img alt=""  src="../../themes/images/market/img1.jpg" width="100%" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img alt=""  src="../../themes/images/market/img1.jpg" width="100%" />
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img alt=""  src="../../themes/images/market/img1.jpg" width="100%" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination paginationAct"></div>
            </div>
        </div>
    </div>
    <!-- 滑动幻灯片 end-->
  <div class="company company-hz">
        <h2 class="title">合作名企</h2>
          <ul class="company_list company_list-hz">
            <li class="li_list li-info">
              <a href="company/company.records.html" class="link_a">
                <span class="company_logo"> <img src="../../themes/images/purchasing/tese1.png" width="65" height="65" alt=""></span>
                <div class="company_info company-tp">
                  <p class="name clearfix"><span class="fl name_info">深圳市奇信建设集团</span><span class="fl hot"><img src="../../themes/images/purchasing/iconHot.png" width="14"  /></span></p>
                  <p class="address clearfix"><span class="fl">深圳富强路中心城C10255</span> </p>
                </div>
            </a>
            </li>
            <li class="li_list li-info">
              <a href="company/company.records.html" class="link_a">
                <span class="company_logo"> <img src="../../themes/images/purchasing/tese1.png" width="65" height="65" alt=""></span>
                <div class="company_info company-tp">
                  <p class="name clearfix"><span class="fl name_info">深圳市奇信建设集团</span><span class="fl hot"><img src="../../themes/images/purchasing/iconHot.png" width="14"  /></span></p>
                  <p class="address clearfix"><span class="fl">深圳富强路中心城C10255</span> </p>
                </div>
            </a>
            </li>
            <li class="li_list li-info">
              <a href="company/company.records.html" class="link_a">
                <span class="company_logo"> <img src="../../themes/images/purchasing/tese1.png" width="65" height="65" alt=""></span>
                <div class="company_info company-tp">
                  <p class="name clearfix"><span class="fl name_info">深圳市奇信建设集团</span><span class="fl hot"><img src="../../themes/images/purchasing/iconHot.png" width="14"  /></span></p>
                  <p class="address clearfix"><span class="fl">深圳富强路中心城C10255</span> </p>
                </div>
            </a>
            </li>
            <li class="li_list li-info">
              <a href="company/company.records.html" class="link_a">
                <span class="company_logo"> <img src="../../themes/images/purchasing/tese1.png" width="65" height="65" alt=""></span>
                <div class="company_info company-tp">
                  <p class="name clearfix"><span class="fl name_info">深圳市奇信建设集团</span><span class="fl hot"><img src="../../themes/images/purchasing/iconHot.png" width="14"  /></span></p>
                  <p class="address clearfix"><span class="fl">深圳富强路中心城C10255</span> </p>
                </div>
            </a>
            </li>
            <li class="li_list li-info">
              <a href="company/company.records.html" class="link_a">
                <span class="company_logo"> <img src="../../themes/images/purchasing/tese1.png" width="65" height="65" alt=""></span>
                <div class="company_info company-tp">
                  <p class="name clearfix"><span class="fl name_info">深圳市奇信建设集团</span><span class="fl hot"><img src="../../themes/images/purchasing/iconHot.png" width="14"  /></span></p>
                  <p class="address clearfix"><span class="fl">深圳富强路中心城C10255</span> </p>
                </div>
            </a>
            </li>                                                                              
        </ul>                     
   </div>
</div>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../resources/swiper/idangerous.swiper-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/swiper/idangerous.swiper.scrollbar-1.2.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
    <script type="text/javascript" src="../../themes/js/purchasing/purchasing.index.js"></script>

</body>
</html>