<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>采购名企公司档案</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/company/company.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>杭州忍者龟陶瓷有限公司</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
<div class="wrapper">
    <!--  banner -->
      <div class="banner">
         <img src="../../themes/images/purchasing/testBanner.jpg">
         <div class="logo">
           <img src="../../themes/images/purchasing/mrLogo.jpg">
         </div>
         <div class="ban_right">
             <div class="ban_right_nav">
                <a class="collect"> <i class="icons"></i><span class="sc">收藏</span><span class="qxsc">取消收藏</span></a>
                <a href="../../view/company/company.shop.html" class="go"><i class="iconj"></i><span>进店</span></a>
             </div>
         </div>
      </div>
    <!-- banner  end-->
    <!--  viewport  --> 
    <div class="viewport">
        <div class="company_info">
           <ul>
              <li><span>杭州忍者龟陶瓷有限公司</span> <i></i></li>
              <li><span>主营：</span><span>陶瓷，瓷器</span></li>
              <li><span>位置：</span><span>杭州九天国际陶瓷艺术城 C307</span></li>
           </ul>
        </div>
        <div class="contact">
             <!-- <a href="tel:137 8899 8888"><span class="phone"><i></i> <em>137 8899 8888</em></span></a>-->
              <a class="call"><span class="phone"><i></i> <em>137 **** 8888</em></span></a>             
              <a ><span class="person"><i></i><em>黄先生</em></span></a>
        </div>
  </div>
  <!--  viewport  end--> 
  <div class="company">
        <h2 class="h2">档案简介</h2>
        <div class="introduction textAlign">
          杭州忍者龟陶瓷有限公司为房屋建筑工程施工总承包特级资质企业，拥有对外签约权。集团下设22个控股子公司，拥有一个工程类甲级设计院和一个建筑智能化系统集成专项工程甲级设计院。公司始建于1958年，2003年彻底改制成为民营企业。改制以.....
        </div>                  
   </div>
<div class="list">
    <h2 class="h2">采购信息</h2>
    <div class="purList">
        <a href="../../view/purchase/purchase.details.html" class="purItem">
          <div class="purItemTil clearfix">
            <div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
            <i class="purItemTilIco"></i>
          </div>
          <div class="purItemNum">
            <span class="purItemNumRed">1000个</span>&nbsp;&nbsp;<span>剩余40天</span>
          </div>
          <ul class="purItemDesc clearfix">
            <li class="purItemCom">深圳金华科技有限公司</li>
            <li class="purItemDay">截止2016-05-11</li>
            <li class="purItemQuote">80家已报价</li>
          </ul>
        </a>
        <a href="../../view/purchase/purchase.details.html" class="purItem">
          <div class="purItemTil clearfix">
            <div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
            <i class="purItemTilIco"></i>
          </div>
          <div class="purItemNum">
            <span class="purItemNumRed">1000个</span>&nbsp;&nbsp;<span>剩余40天</span>
          </div>
          <ul class="purItemDesc clearfix">
            <li class="purItemCom">深圳金华科技有限公司</li>
            <li class="purItemDay">截止2016-05-11</li>
            <li class="purItemQuote">80家已报价</li>
          </ul>
        </a>
        <a href="../../view/purchase/purchase.details.html" class="purItem">
          <div class="purItemTil clearfix">
            <div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
            <i class="purItemTilIco"></i>
          </div>
          <div class="purItemNum">
            <span class="purItemNumRed">1000个</span>&nbsp;&nbsp;<span>剩余40天</span>
          </div>
          <ul class="purItemDesc clearfix">
            <li class="purItemCom">深圳金华科技有限公司</li>
            <li class="purItemDay">截止2016-05-11</li>
            <li class="purItemQuote">80家已报价</li>
          </ul>
        </a>
        <a href="../../view/purchase/purchase.details.html" class="purItem">
          <div class="purItemTil clearfix">
            <div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
            <i class="purItemTilIco"></i>
          </div>
          <div class="purItemNum">
            <span class="purItemNumRed">1000个</span>&nbsp;&nbsp;<span>剩余40天</span>
          </div>
          <ul class="purItemDesc clearfix">
            <li class="purItemCom">深圳金华科技有限公司</li>
            <li class="purItemDay">截止2016-05-11</li>
            <li class="purItemQuote">80家已报价</li>
          </ul>
        </a>
        <a href="../../view/purchase/purchase.details.html" class="purItem">
          <div class="purItemTil clearfix">
            <div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
            <i class="purItemTilIco"></i>
          </div>
          <div class="purItemNum">
            <span class="purItemNumRed">1000个</span>&nbsp;&nbsp;<span>剩余40天</span>
          </div>
          <ul class="purItemDesc clearfix">
            <li class="purItemCom">深圳金华科技有限公司</li>
            <li class="purItemDay">截止2016-05-11</li>
            <li class="purItemQuote">80家已报价</li>
          </ul>
        </a>
      </div> 
  </div>     
</div>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
    <script type="text/javascript" src="../../themes/js/company/company.records.js"></script>
</body>
</html>