<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>筛选店铺商品</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/purchase/purchase.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/product/product.css" media="all" />
</head>
<body id="screenbg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:;" class="topClose"></a>
		<a href="javascript:;" class="screenBtn">确定</a>
		<h2>筛选店铺商品</h2>
	</div>
	<!-- top end -->

	<dl class="proScreenDl">
		<dt class="proScreenDt clearfix">
			<div class="fl">类别</div>
			<div class="fr"><span class="txt">全部</span><i class="icon"></i></div>
		</dt>
		<dd class="proScreenDd">
			<div class="classification">
				<div class="classificationTil"><i></i>装饰辅料</div>
				<ul class="classificationArea clearfix">
					<li>装饰辅料</li>
					<li>装饰辅料</li>
					<li>装饰辅料</li>
					<li>装饰辅料</li>
					<li>装饰辅料</li>
					<li>装饰辅料</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>石材</div>
				<ul class="classificationArea clearfix">
					<li>木业木业木业木业</li>
					<li>石材</li>
					<li>石材</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>木业</div>
				<ul class="classificationArea clearfix">
					<li>木业</li>
					<li>木业</li>
					<li>木业</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>玻璃</div>
				<ul class="classificationArea clearfix">
					<li>玻璃</li>
					<li>玻璃</li>
					<li>玻璃</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>建筑陶瓷</div>
				<ul class="classificationArea clearfix">
					<li>建筑陶瓷</li>
					<li>建筑陶瓷</li>
					<li>建筑陶瓷</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>饰面材料</div>
				<ul class="classificationArea clearfix">
					<li>饰面材料</li>
					<li>饰面材料</li>
					<li>饰面材料</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>吊顶隔断</div>
				<ul class="classificationArea clearfix">
					<li>吊顶隔断</li>
					<li>吊顶隔断</li>
					<li>吊顶隔断</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>地板</div>
				<ul class="classificationArea clearfix">
					<li>地板</li>
					<li>地板</li>
					<li>地板</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>楼梯</div>
				<ul class="classificationArea clearfix">
					<li>楼梯</li>
					<li>楼梯</li>
					<li>楼梯</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>门窗</div>
				<ul class="classificationArea clearfix">
					<li>门窗</li>
					<li>门窗</li>
					<li>门窗</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>五金</div>
				<ul class="classificationArea clearfix">
					<li>五金</li>
					<li>五金</li>
					<li>五金</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>涂料</div>
				<ul class="classificationArea clearfix">
					<li>涂料</li>
					<li>涂料</li>
					<li>涂料</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>开关插座</div>
				<ul class="classificationArea clearfix">
					<li>开关插座</li>
					<li>开关插座</li>
					<li>开关插座</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>照明设备</div>
				<ul class="classificationArea clearfix">
					<li>照明设备</li>
					<li>照明设备</li>
					<li>照明设备</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>墙纸地毯</div>
				<ul class="classificationArea clearfix">
					<li>墙纸地毯</li>
					<li>墙纸地毯</li>
					<li>墙纸地毯</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>窗帘</div>
				<ul class="classificationArea clearfix">
					<li>窗帘</li>
					<li>窗帘</li>
					<li>窗帘</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>厨房设备</div>
				<ul class="classificationArea clearfix">
					<li>厨房设备</li>
					<li>厨房设备</li>
					<li>厨房设备</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>卫浴洁具</div>
				<ul class="classificationArea clearfix">
					<li>卫浴洁具</li>
					<li>卫浴洁具</li>
					<li>卫浴洁具</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>电料</div>
				<ul class="classificationArea clearfix">
					<li>电料</li>
					<li>电料</li>
					<li>电料</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>管材</div>
				<ul class="classificationArea clearfix">
					<li>管材</li>
					<li>管材</li>
					<li>管材</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>防水防火</div>
				<ul class="classificationArea clearfix">
					<li>防水防火</li>
					<li>防水防火</li>
					<li>防水防火</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>保温吸声</div>
				<ul class="classificationArea clearfix">
					<li>保温吸声</li>
					<li>保温吸声</li>
					<li>保温吸声</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>节能环保</div>
				<ul class="classificationArea clearfix">
					<li>节能环保</li>
					<li>节能环保</li>
					<li>节能环保</li>
				</ul>
			</div>
			<div class="classification">
				<div class="classificationTil"><i></i>新型材料</div>
				<ul class="classificationArea clearfix">
					<li>新型材料</li>
					<li>新型材料</li>
					<li>新型材料</li>
				</ul>
			</div>
		</dd>
	</dl>

	<div class="screenReset">
		<a href="javascript:;">重置选项</a>
	</div>

	<script type="text/javascript" src="../../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../../themes/js/search/company/shop.screen.js"></script>
</body>
</html>