<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>商品详情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/product/product.css" media="all" />
</head>
<body id="detailsbg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<h2>商品详情</h2>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->

	<div class="main">
		<!-- banner -->
		<div id="proBan" class="proBan">
			<img src="../../themes/images/product/banbg.png">
			<div class="banNav">
				<ul></ul>
			</div>
			<div class="banImg">
				<ul>
					<li><img src="../../themes/images/product/img3.jpg" /></li>
					<li><img src="../../themes/images/product/img3.jpg" /></li>
					<li><img src="../../themes/images/product/img3.jpg" /></li>
				</ul>
			</div>
		</div>

		<div class="detailsTil">九牧万美卫浴顶级瓷砖MB55-30006G 5.5平米 型号1573 MG-TT09</div>
		<div class="detailsInfo">
			<ul class="detailsPrice clearfix">
				<li>
					<div class="txt1">1桶起 批</div>
					<div class="txt2">¥ 60.00</div>
				</li>
				<li>
					<div class="txt1">200平方米</div>
					<div class="txt2">¥ 120.00</div>
				</li>
				<li>
					<div class="txt1">200平方米</div>
					<div class="txt2">¥ 120.00</div>
				</li>
			</ul>
			<table cellpadding="0" cellspacing="0" width="100%" class="detailsTable">
				<tbody>
					<tr>
						<td width="50" class="lf">发货地</td>
						<td>
							<div class="clearfix">
								<div class="fl">广东深圳</div>
								<div class="fr"><i class="detailsIco"></i>买家保障</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="lf">运费</td>
						<td>买家承担运费  包邮</td>
					</tr>
					<tr>
						<td class="lf">服务</td>
						<td>
							<dl class="service clearfix">
								<dt></dt>
								<dd>由"XXXXXXXXXXXX官方旗舰店"销售和发货，并提供售后服务</dd>
							</dl>
							<div><i class="detailsIco"></i>7天无理由退换货</div>
							<div class="detailsInfoGrey">自实际收货日期的次日起7天内，商品完好，可进行无理由退换货</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="companyBox">
			<dl class="companyInfo clearfix">
				<dt><img src="../../themes/images/product/img4.jpg"></dt>
				<dd>
					<div class="txt1">九牧万美官方旗舰店</div>
					<div class="txt2"><i class="icon"></i>第 <span class="green">2</span> 年</div>
					<ul class="txt3 clearfix">
						<li class="name"><i class="icon"></i>李先生</li>
						<li class="mobile"><i class="icon"></i>13000000000</li>
					</ul>
				</dd>
			</dl>
			<div class="companyBtn clearfix">
				<a href="javascript:;" class="wmp"><i class="icon"></i>查看微名片</a>
				<a href="javascript:;" class="shop"><i class="icon"></i>进入店铺</a>
				<div class="wxFixed">
					<div class="wxBox">
						<div class="wxTxt">这是我的二维码，赶紧扫描吧~</div>
						<img src="../../themes/images/common/wx.png">
						<div class="wxTxt">长按2秒以上可以保存到手机</div>
					</div>
					<div class="wxClose"></div>
				</div>
			</div>
		</div>
		
		<div class="detailsBox">
			<ul class="detailsTab clearfix">
				<li class="firstLi act"><a href="javascript:;">规格参数</a></li>
				<li><a href="javascript:;">图文详情</a></li>
				<li class="lastLi"><a href="javascript:;">猜你喜欢</a></li>
			</ul>
			<div class="detailsMain">
				<div class="detailsDesc">
					<div class="detailsDescTil">产品参数</div>
					<table cellpadding="0" cellspacing="0" width="100%" class="detailsDescTable">
						<tbody>
							<tr>
								<td width="85" class="lf">品牌</td>
								<td>徳工漆</td>
							</tr>
							<tr>
								<td class="lf">液态类型</td>
								<td>水乳型</td>
							</tr>
							<tr>
								<td class="lf">保质期</td>
								<td>18个月</td>
							</tr>
							<tr>
								<td class="lf">耐洗擦性</td>
								<td>6000次</td>
							</tr>
							<tr>
								<td class="lf">耐水性</td>
								<td>96HR无异常</td>
							</tr>
							<tr>
								<td class="lf">服务</td>
								<td>三年免费保修</td>
							</tr>
							<tr>
								<td class="lf">厂地</td>
								<td>广东中山</td>
							</tr>
							<tr>
								<td class="lf">单件净重</td>
								<td>20KG</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="detailsDesc">
					<img src="../../themes/images/product/img3.jpg" />
					九牧万美卫浴顶级瓷砖MB55-30006G 5.5平米 型号1573 MG-TT09<br>
					由"XXXXXXXXXXXX官方旗舰店"销售和发货，并提供售后服务<br>
					自实际收货日期的次日起7天内，商品完好，可进行无理由退换货
				</div>
				<div class="detailsDesc detailsLike">
					<ul class="proItem clearfix">
						<li>
							<a href="">
								<div class="proItemImg"><img src="../../themes/images/product/img2.jpg"></div>
								<div class="proItemTxt">供应护眼台灯供应护眼台灯深全国限量版-STY-915 </div>
								<div class="proItemPrice">¥150</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="proItemImg"><img src="../../themes/images/product/img2.jpg"></div>
								<div class="proItemTxt">供应护眼台灯供应护眼台灯深全国限量版-STY-915 </div>
								<div class="proItemPrice">¥150</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="proItemImg"><img src="../../themes/images/product/img2.jpg"></div>
								<div class="proItemTxt">供应护眼台灯供应护眼台灯深全国限量版-STY-915 </div>
								<div class="proItemPrice">¥150</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="proItemImg"><img src="../../themes/images/product/img2.jpg"></div>
								<div class="proItemTxt">供应护眼台灯供应护眼台灯深全国限量版-STY-915 </div>
								<div class="proItemPrice">¥150</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		  <!--  footer  --> 
		    <footer class="footer">
		        <div class="lineUp"></div>
		        <ul class="footer-links">
		            <li class="">
		             <a  class="loginGo"  href="#">登录</a>
		             <!-- 登录后 账号显示 -->
		           <!--  <div class="loginOk">
		                 <a href="" class="account">1297698705</a>
		                 <a href="">注销</a>
		            </div> -->
		            </li>
		            <li class="ringtLine"><a  class="regist"  href="#">注册</a></li>
		            <li><a  class="J_ping"  href="#">电脑版</a></li>
		            <li><a class="J_ping"  href="#top">客户端</a></li>
		        </ul>
		        <div class="lineUp">
		        </div>
		<!--         <ul class="footer-platforms">
		            <li class="footer-icon-apps"><a class="badge J_ping"  href="#">客户端</a></li>
		            <li class="touchscreen current"><a class="J_ping"  href="javascript:void(0)">触屏版</a></li>
		            <li class="icon-pc"><a id="layout_toPcHome" class="J_ping"  href="javascript:void(0);">电脑版</a></li>
		        </ul>
		        <div class="lineUp">
		        </div> -->
		        <div class="footer-copyright">
		            Copyright&copy;2015 pincai360.com 版权所有
		        </div>
		    </footer>
		  <!--  footer end --> 
	</div>
	<!-- 底部导航 -->
	<div class="foot-navBox">
		<div class="foot-nav">
			<a href=""><i></i><span>进店</span></a>
			<a href=""><i></i><span>收藏</span></a>
			<a href="tel:13800138000">电话联系</a>
			<a href="">立即询价</a>
		</div>
	</div>
	<!-- 底部导航  end-->
	
	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../resources/js/TouchSlide.1.1.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../themes/js/product/product.details.js"></script>
</body>
</html>