<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>关联账号</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/member/member.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/login-register/bind.css" media="all" />
</head>
<body id="memberbg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<h2>关联账号</h2>
	</div>
	<!-- top end -->

	<form class="guanlian">
		<div class="setPswBox clearfix">
			<div class="setPswIpt">
				<div class="findBox">
					<input type="text" placeholder="请输入用户名/邮箱/已验证手机" class="findIpt setInfo">
				</div>
			</div>
			<div class="setPswIpt">
				<div class="findBox">
					<input type="password" maxlength="20" placeholder="请输入密码" class="findIpt setIpt">
				</div>
				<a class="foverpsd" href="">忘记密码</a>
			</div>
		</div>
		<div class="findBtnBox">
			<p>注册后，你的微信账号和品材汇账号都可以登录</p>
			<input type="button" value="完成" class="findBtn findBtn1"><!--这个按钮显示灰色，点击不能提交-->
			<input type="submit" value="完成" class="findBtn findBtn2"><!--这个才是提交按钮，当所有验证都通过的时候显示出来-->
		</div>
	</form>	
	
	
	<div class="accountFoot">
  <!--  footer  --> 
    <footer class="footer">
        <div class="lineUp"></div>
        <ul class="footer-links">
            <li class="">
             <a  class="loginGo"  href="#">登录</a>
             <!-- 登录后 账号显示 -->
           <!--  <div class="loginOk">
                 <a href="" class="account">1297698705</a>
                 <a href="">注销</a>
            </div> -->
            </li>
            <li class="ringtLine"><a  class="regist"  href="#">注册</a></li>
            <li><a  class="J_ping"  href="#">电脑版</a></li>
            <li><a class="J_ping"  href="#top">客户端</a></li>
        </ul>
        <div class="lineUp">
        </div>
<!--         <ul class="footer-platforms">
            <li class="footer-icon-apps"><a class="badge J_ping"  href="#">客户端</a></li>
            <li class="touchscreen current"><a class="J_ping"  href="javascript:void(0)">触屏版</a></li>
            <li class="icon-pc"><a id="layout_toPcHome" class="J_ping"  href="javascript:void(0);">电脑版</a></li>
        </ul>
        <div class="lineUp">
        </div> -->
        <div class="footer-copyright">
            Copyright&copy;2015 pincai360.com 版权所有
        </div>
    </footer>
  <!--  footer end -->
</div>
	
	<script type="text/javascript" src="../../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../../themes/js/member/account/setPassword.js"></script>
</body>
</html>