<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>灯具照明精选</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/market/market.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../resources/iscroll/iscroll.css" media="all" />
</head>
<body>
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<h2>灯具照明精选</h2>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->

	<div id="wrapper">
		<div id="scroller">
			<div id="pullDown">
				<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span>
			</div>
			<div class="main">
				<div class="marketMenu clearfix">
					<a href="javascript:;" class="act">室内灯具</a>
					<a href="javascript:;">室外灯具</a>
					<a href="javascript:;">开关插座</a>
					<a href="javascript:;">电工电气</a>
					<span class="mark"></span>
				</div>

				<!-- banner -->
				<div id="banner" class="banner">
					<img src="../../themes/images/market/banbg.png">
					<div class="banNav">
						<ul></ul>
					</div>
					<div class="banImg">
						<ul>
							<li><img src="../../themes/images/market/img1.jpg" /></li>
							<li><img src="../../themes/images/market/img1.jpg" /></li>
							<li><img src="../../themes/images/market/img1.jpg" /></li>
						</ul>
					</div>
				</div>

				<!-- 今日精品 -->
				<div class="boutiquePicBox">
					<img src="../../themes/images/market/til1.png" width="100%">
					<div id="boutiquePic" class="boutiquePic">
						<div class="boutiqueList">
							<ul>
								<li>
									<a href="">
										<div class="boutiqueImg"><img src="../../themes/images/market/img2.jpg"></div>
										<div class="boutiqueTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
										<div class="boutiqueDesc clearfix">
											<span class="boutiquePrice">￥ 80.00</span>
											<span class="boutiqueBtn">立即抢购</span>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<div class="boutiqueImg"><img src="../../themes/images/market/img2.jpg"></div>
										<div class="boutiqueTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
										<div class="boutiqueDesc clearfix">
											<span class="boutiquePrice">￥ 80.00</span>
											<span class="boutiqueBtn">立即抢购</span>
										</div>
									</a>
								</li>
							</ul>
							<ul>
								<li>
									<a href="">
										<div class="boutiqueImg"><img src="../../themes/images/market/img2.jpg"></div>
										<div class="boutiqueTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
										<div class="boutiqueDesc clearfix">
											<span class="boutiquePrice">￥ 80.00</span>
											<span class="boutiqueBtn">立即抢购</span>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<div class="boutiqueImg"><img src="../../themes/images/market/img2.jpg"></div>
										<div class="boutiqueTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
										<div class="boutiqueDesc clearfix">
											<span class="boutiquePrice">￥ 80.00</span>
											<span class="boutiqueBtn">立即抢购</span>
										</div>
									</a>
								</li>
							</ul>
							<ul>
								<li>
									<a href="">
										<div class="boutiqueImg"><img src="../../themes/images/market/img2.jpg"></div>
										<div class="boutiqueTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
										<div class="boutiqueDesc clearfix">
											<span class="boutiquePrice">￥ 80.00</span>
											<span class="boutiqueBtn">立即抢购</span>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<div class="boutiqueImg"><img src="../../themes/images/market/img2.jpg"></div>
										<div class="boutiqueTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
										<div class="boutiqueDesc clearfix">
											<span class="boutiquePrice">￥ 80.00</span>
											<span class="boutiqueBtn">立即抢购</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="boutiqueNav">
							<ul></ul>
						</div>
					</div>
				</div>

				<div class="marketAdv"><a href=""><img src="../../themes/images/market/img3.jpg"></a></div>

				<!-- 爆品推荐 -->
				<div class="lampsHotTil">
					<div class="lampsHotTilTxt">爆品推荐</div>
				</div>
				<div class="lampsHotBox">
					<div class="lampsHot clearfix">
						<a href="">
							<div class="lampsHotImg"><img src="../../themes/images/market/img4.jpg"></div>
							<div class="lampsHotInfo">
								<div class="lampsHotTxt">节能环保LED吸顶灯 卧室灯温馨浪漫室吸顶灯田园灯饰儿童灯 【护眼灯】</div>
								<div class="lampsHotIco clearfix">
									<span class="icon">品材汇专享</span>
									<span class="icon">手快有</span>
								</div>
								<div class="lampsHotRow clearfix">
									<div class="lampsHotPrice">￥199.00</div>
									<div class="lampsHotBtn">立即秒杀</div>
								</div>
							</div>
						</a>
					</div>
					<div class="lampsHot clearfix">
						<a href="">
							<div class="lampsHotImg"><img src="../../themes/images/market/img4.jpg"></div>
							<div class="lampsHotInfo">
								<div class="lampsHotTxt">节能环保LED吸顶灯 卧室灯温馨浪漫室吸顶灯田园灯饰儿童灯 【护眼灯】</div>
								<div class="lampsHotIco clearfix">
									<span class="icon">品材汇专享</span>
									<span class="icon">手快有</span>
								</div>
								<div class="lampsHotRow clearfix">
									<div class="lampsHotPrice">￥199.00</div>
									<div class="lampsHotBtn">立即秒杀</div>
								</div>
							</div>
						</a>
					</div>
					<div class="lampsHot clearfix">
						<a href="">
							<div class="lampsHotImg"><img src="../../themes/images/market/img4.jpg"></div>
							<div class="lampsHotInfo">
								<div class="lampsHotTxt">节能环保LED吸顶灯 卧室灯温馨浪漫室吸顶灯田园灯饰儿童灯 【护眼灯】</div>
								<div class="lampsHotIco clearfix">
									<span class="icon">品材汇专享</span>
									<span class="icon">手快有</span>
								</div>
								<div class="lampsHotRow clearfix">
									<div class="lampsHotPrice">￥199.00</div>
									<div class="lampsHotBtn">立即秒杀</div>
								</div>
							</div>
						</a>
					</div>
					<div class="lampsHot clearfix">
						<a href="">
							<div class="lampsHotImg"><img src="../../themes/images/market/img4.jpg"></div>
							<div class="lampsHotInfo">
								<div class="lampsHotTxt">节能环保LED吸顶灯 卧室灯温馨浪漫室吸顶灯田园灯饰儿童灯 【护眼灯】</div>
								<div class="lampsHotIco clearfix">
									<span class="icon">品材汇专享</span>
									<span class="icon">手快有</span>
								</div>
								<div class="lampsHotRow clearfix">
									<div class="lampsHotPrice">￥199.00</div>
									<div class="lampsHotBtn">立即秒杀</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="marketAdv"><a href=""><img src="../../themes/images/market/img3.jpg"></a></div>

				<!-- 活动之外 更多精彩 -->
				<div class="exciting">
					<img src="../../themes/images/market/til2.png" width="100%">
					<ul class="excitingItem clearfix" id="exciting">
						<li>
							<a href="">
								<div class="excitingImg"><img src="../../themes/images/market/img2.jpg"></div>
								<div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
								<div class="excitingPrict">￥80.00</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="excitingImg"><img src="../../themes/images/market/img2.jpg"></div>
								<div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
								<div class="excitingPrict">￥80.00</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="excitingImg"><img src="../../themes/images/market/img2.jpg"></div>
								<div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
								<div class="excitingPrict">￥80.00</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="excitingImg"><img src="../../themes/images/market/img2.jpg"></div>
								<div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
								<div class="excitingPrict">￥80.00</div>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div id="pullUp">
				<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../resources/iscroll/iscroll.js"></script>
	<script type="text/javascript" src="../../resources/js/TouchSlide.1.1.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../themes/js/market/lamps.js"></script>
</body>
</html>