<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>修改手机验证码</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">
	<link rel="stylesheet" type="text/css" href="../../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/member/member.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/member/authenticate.css" />
</head>
<body id="memberbg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<h2>修改手机验证</h2>
	</div>
	<!-- top end -->

	<div class="flowPic">
		<div class="liucheng">
			<i class="icon-liuc icon-person-active"></i><br/>
			<label class="active">验证身份</label>
		</div>
		<div class="jiantou">
			<i class="icon-go"></i>
		</div>
		<div class="liucheng">
			<i class="icon-liuc icon-phone"></i><br/>
			<label>修改验证手机</label>
		</div>
		<div class="jiantou">
			<i class="icon-go"></i>
		</div>
		<div class="liucheng">
			<i class="icon-liuc icon-check"></i><br/>
			<label>完成</label>
		</div>
	</div>
	<div class="info">
		<p>你当前的号码是：<span class="col-org">1234567891</span></p>
	</div>
	<div class="yanzhengma">
		<input type="text" placeholder="请输入验证码" /> <button id="btn">获取验证码</button>
	</div>
	<div class="next">
		<a href="authenticate-mobile.html">下一步</a>
	</div>
	<div class="beizhu">
		<p>温馨提示：<br/>
			设置验证手机成功后，可用于<u>找回登录密码</u>。<br/>
			验证身份有问题，你可以联系客服<span class="col-red">400-666-0360</span>
		</p>
	</div>
<div class="accountFoot">
  <!--  footer  --> 
    <footer class="footer">
        <div class="lineUp"></div>
        <ul class="footer-links">
            <li class="">
             <a  class="loginGo"  href="#">登录</a>
             <!-- 登录后 账号显示 -->
           <!--  <div class="loginOk">
                 <a href="" class="account">1297698705</a>
                 <a href="">注销</a>
            </div> -->
            </li>
            <li class="ringtLine"><a  class="regist"  href="#">注册</a></li>
            <li><a  class="J_ping"  href="#">电脑版</a></li>
            <li><a class="J_ping"  href="#top">客户端</a></li>
        </ul>
        <div class="lineUp">
        </div>
<!--         <ul class="footer-platforms">
            <li class="footer-icon-apps"><a class="badge J_ping"  href="#">客户端</a></li>
            <li class="touchscreen current"><a class="J_ping"  href="javascript:void(0)">触屏版</a></li>
            <li class="icon-pc"><a id="layout_toPcHome" class="J_ping"  href="javascript:void(0);">电脑版</a></li>
        </ul>
        <div class="lineUp">
        </div> -->
        <div class="footer-copyright">
            Copyright&copy;2015 pincai360.com 版权所有
        </div>
    </footer>
  <!--  footer end -->
</div>
	
	<script type="text/javascript" src="../../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../../themes/js/common/m.base.js"></script>
	<script type="text/javascript"> 
		var wait=60; 
		function time(o) { 
		if (wait == 0) { 
		o.removeAttribute("disabled"); 
		o.innerHTML="免费获取验证码"; 
		wait = 60; 
		} else { 
		o.setAttribute("disabled", true); 
		o.innerHTML="重新发送(" + wait + ")"; 
		wait--; 
		setTimeout(function() { 
		time(o) 
		}, 
		1000) 
		} 
		} 
		document.getElementById("btn").onclick=function(){time(this);} 
		</script>
</body>
</html>