<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>我的微名片-商务版</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/card/card.css" />  
</head>
<body>
<img id="vip" src="../../themes/images/card/vip_bg.jpg">
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <a href="" class="a-link"><div class="icon-wen"></div></a>
          <h2>XXX姓名的微名片</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  end -->
<div class="wrapper">
   <div class="div-top">
       <img id="img-bg"  src="../../themes/images/card/transparent.png" />
      <p class="prev">预览中</p>
      <div class="avatar-info">
          <div class="div-avatar">
            <img src="../../themes/images/tx.jpg" />
         </div>
         <ul>
           <li>刘琪琪</li>
           <li class="post"><i></i>产品经理</li>
           <li><a href="tel:18681484596"><i></i>18681484596</a></li>
         </ul>
       </div> 
        <a href="" class="go-shop"><img   src="../../themes/images/card/icon-go-shop.png" /></a> 
       <div class="ewm-code"><img src="../../themes/images/common/wx.png" /></div>
   </div>
   <dl class="dl-nav ">
     <dt><i></i>深圳市全容电子商务有限公司</dt>
     <dd><i></i>79447472</dd>
     <dd><i></i>qiewuduoluo</dd>
     <dd><i></i>794 474 72@qq.com</dd>
     <dd><i></i>址http://www.pincai360.com</dd>
     <dd><a href="tel:156 3465 2033"><i></i>156 3465 2033 </a></dd>
     <dd><i></i>深圳市福田区福强路金桂大厦A座229-ABCD小区</dd>
   </dl>
  <div class="div-title">产品展示</div>
   <div class="div-product">
     <ul class="kitItem clearfix">
          <li>
            <a href="">
              <img src="../../themes/images/card/test.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../themes/images/card/test.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../themes/images/card/test.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../themes/images/card/test.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../themes/images/card/test.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../themes/images/card/test.jpg" />
            </a>
          </li>                     
        </ul>
        <div class="div-text">
200个字符的描述产品展示区信息描述描述描述描述描述描述描述产品展示区信息描述描述产品展示区信息描述描述产品展示区描述产品展示区信息描述描述产品展示区信息描述信息描述200个字符的描述产品展示区信息描述描述描述描述描述描述。          
        </div>
   </div>
  <div class="div-title">我的标签</div>
   <div class="div-label">
       <span>电子商务</span>
       <span>低调奢华有内涵</span>
       <span>有态度的客户端</span>
   </div> 
  <div class="div-title">导航地图</div>
   <!-- 地图  -->
   <div class="div-address">
      <input id="address" type="hidden" value="深圳市 福田区 天安数码城 天吉大厦 D座4楼">
      <div id="container"></div>   
   </div>
    <!-- 地图  end-->      
</div>
<!-- 弹出大二维码 -->
<div class="img-box">
   <img class="icon-top-x" src="../../themes/images/common/icon-top-x.png">
  <img  class="big-ewm" src="../../themes/images/common/wx.png" />
  <p>
    长按二维码可保存到手机里<br>
    可印在纸质名片和宣传单上
  </p>
</div>
<!-- 弹出大二维码 end -->
<!-- 导航 菜单  -->
 <div class="menu-right-nav">
    导航<br>菜单
 </div>
<!--   菜单  end-->
<!-- 底部 栏目  -->
 <div class="menu-bottom">
    <div class="share"> 
     <p class="p-title"> <i></i> 分享到</p>
       <ul class="share-ul">
         <li> <a href=""><i></i><b>QQ好友</b> </a></li>
         <li> <a href=""><i></i><b>QQ空间</b> </a></li>
         <li> <a href=""><i></i><b>新浪微博</b> </a></li>
         <li> <a href=""><i></i><b>人人网</b> </a></li>
         <li> <a href=""><i></i><b>复制链接</b> </a></li>
         <li> <a><i></i><b>取消分享</b> </a></li>     
       </ul>
    </div>   
 <p class="p-title"> <i></i> 导航菜单</p>
  <dl class="menu-dl">
     <dd> <a href=""><i></i><b>我</b> </a></dd>
     <dd> <a href=""><i></i><b>编辑名片</b></a></dd>
     <dd> <a href="change.themes.html"><i></i><b>换模板</b></a></dd>
     <dd> <a><i></i><b>分享</b></a></dd>
     <dd> <a  class="up-show"><i></i></a></dd>
   </dl>    
 </div>
<!-- 底部 栏目  end-->
<div class="fiexd-btn">
  立即使用
</div>
</body>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery.easing.min.js"></script>    
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script><!-- 腾讯地图 javascript_v2 api -->
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>     
    <script type="text/javascript" src="../../themes/js/card/card.vip.js"></script>    
</html>