<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>创建微名片-初次登录</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/card/card.css" />  
</head>
<body>
<div class="wrapper">
   <div class="div-top">
       <img id="img-bg"  src="../../themes/images/card/1/green/bg.png" />
          <div class="div-avatar2">
            <img src="../../themes/images/tx.jpg" />
         </div>
       <div class="div-themes"><img src="../../themes/images/card/themes.png" /></div>
   </div>
   <form action="" class="form">
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="真实姓名" name="" /></div> 
      </div>
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="手机号码" name="" /></div> 
      </div>
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="公司" name="" /></div> 
      </div>        
      <div class="div-item">
        <label></label>
        <div class="item">
          <select>
              <option>请选择行业</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div> 
      </div>
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="职务" name="" /></div> 
      </div>
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="微信号" name="" /></div> 
      </div>
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="QQ" name="" /></div> 
      </div>
      <div class="div-item">
        <label></label>
        <div class="item"><input type="text" placeholder="邮箱" name="" /></div> 
      </div> 
     <div class="div-submit"> <!-- <input type="submit" value="提交" class="submit-btn" /> --> <a  class="submit-btn">提交</a> </div>                                             
   </form>
</div>
<!-- 右侧  -->
<div class="fixed-bg"> </div> 
  <div class="right-themes">
     <p class="p-title">更换背景</p>
     <ul>
       <li><span></span></li>
       <li><span></span></li>
       <li><span></span></li>
       <li><span></span></li>
       <li><span></span></li>
       <li><span></span></li>
       <li><span></span></li>
       <li><span></span></li>              
      </ul>
    </div>
<!-- 右侧  en-->

<!-- 提交完成后 显示 -->
<div class="show-hint">
   <p>微名片已创建，您现在可以  </p>
   <div class="div-link">
      <a href="">
        <img id="img-bg"  src="../../themes/images/card/icon-r.png" />
        <p>完善信息</p>
      </a>
      <a href="">
        <img id="img-bg"  src="../../themes/images/card/icon-t.png" />
        <p>更换模板</p>
      </a>
   </div>
   <div class="fr"><a href="">前往帮助中心</a> </div>
</div>
<!-- 提交完成后 显示 end -->

</body>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery.easing.min.js"></script>    
    <script type="text/javascript" src="../../themes/js/card/login.card.info.js"></script>    
</html>