<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>立即关联</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/login-register/login-register.css" />
</head>
<body >
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<h2>立即关联</h2>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->

	<form>
		<div class="astTil"><i class="astTilIco"></i>关联已有品材汇账号</div>
		<div class="astIptBox">
			<input type="text" placeholder="请输入用户名/手机/邮箱" class="astIpt">
		</div>
		<div class="astIptBox clearfix">
			<div class="switchBox">
				<div class="emptyPsw"></div>
				<div class="switch">显示</div>
			</div>
			<div class="astPswBox">
				<input type="password" placeholder="6-20位数字、字母或符合的组合" class="astIpt astPswIpt">
				<input type="text" placeholder="6-20位数字、字母或符合的组合" class="astIpt astTxtIpt">
			</div>
		</div>
		<div class="astTxt">关联后，你的第三方平台账号和品材汇账号都可以登录</div>
		<div class="astBtnBox">
			<input type="button" value="完成" class="astBtn astBtn1"><!--不能提交状态-->
			<input type="submit" value="完成" class="astBtn astBtn2"><!--当用户名密码验证正确时显示该提交按钮-->
		</div>
		<div class="astLink"><a href="">忘记密码？</a></div>
	</form>
	
	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../themes/js/login-register/associateAccount.js"></script>
</body>
</html>