<html>
	<head>
		<title>用户协议</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
		<style>
			html{
				
				background:white;
				font-size:16px;
			}
			p{
				text-indent:2em;
				line-height:1.5rem;
			}
			center{
				margin:25px;
				font-size:20px;
			}
			i{
				display:inline-block;
				width:2em;
			}
			.wenzhu{
				width:97%;
				padding-left:2%;
			}
		</style>
	</head>
	<body>
	<div class="wenzhu">
		<center><strong>品材汇用户使用协议</strong></center>
		<p>
			<strong>第一条 特别提示</strong><br/>
			<i></i>1.《品材汇用户使用协议》以下条款涉及您的重大权利与义务，深圳市全容电子商务有限公司（以下简称“全容电商”）在此特别提醒用户（以下简称用户或者您）在注册之前，请认真阅读《品材汇用户使用协议》（以下简称“协议”），确保您充分理解本协议中各条款，如有疑问请联系品材汇客服咨询。
				<strong><u>（1）与您约定免除或限制责任的条款；</u></strong>
				<strong><u>（2）与您约定法律适用和管辖的条款；</u></strong>
				<strong><u>（3）其他以黑体加粗下划线标识的重要条款。</u></strong><br/>
				<i></i>2.您的注册、登录、使用等行为将视为对本协议的接受，表示您已充分阅读、理解并接受本协议的全部内容，并与品材汇达成一致，本协议即构成对双方有约束力的法律文件。<strong><u>若您不同意本协议，或对本协议中的条款存在任何疑问，请您立即停止品材汇用户注册程序，并可以选择不使用本网站服务。</u></strong><br/>
				<i></i>3.本协议约定品材汇与用户之间关于“品材汇”软件服务（以下简称“服务”）的权利义务。品材汇各项服务的所有权和运作权归本网站拥有。<br/>
				品材汇：指由深圳市全容电子商务有限公司经营的域名为www.pincai360.com的网站及客户端。
				“用户”是指注册、 登录、使用本服务或者浏览本网站且能够独立承担法律责任的自然人、法人及其他组织。若用户不具备此资格，请不要使用品材汇网站。
				品材汇用户使用协议：指由本协议及品材汇网站公布、更新的规则规范、公告、书面说明、法律声明等法律文件。上述各组成部分与品材汇用户使用协议不可分割，具有同等法律效力。
				用户服务：指由品材汇向用户提供的有益于用户达成交易的各类服务（例如信息发布、商品、商机供求推荐、展会、招投标等）。
				根据国家法律法规和政策的变化及网站运营需要，<strong><u>本协议可由品材汇进行不定期修订，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在品材汇平台查阅最新版协议条款。在品材汇修改协议条款后，如果用户不接受修改后的条款，请立即停止使用品材汇提供的服务，用户继续使用品材汇提供的服务将被视为接受修改后的协议。</u></strong> 
				<strong><u>本协议包括协议正文及所有品材汇已经发布的，或未来可能发布或更新的各类规则、公告等文件。</u></strong>
				<strong><u>所有文件为本协议不可分割的组成部分，与本协议正文具有同等法律效力。在您申请注册成为品材汇注册会员前，请仔细阅读本协议的正文内容及以上各类规则。</u></strong>
		</p><br/>
		<p>
			<strong>第二条 用户账号注册管理</strong><br/>
			<i></i>1.用户在使用品材汇服务前，应当按照品材汇页面的提示准确完整地提供相关信息，包括但不限于您的姓名或名称、联系地址、联系电话、电子邮箱地址，维护并及时更新您的个人信息，以便品材汇或其他客户与您联系。您了解并同意，您有义务保证您提供信息的真实性及合法有效性。
			如您代表其他自然人、法人及其他组织在品材汇注册会员，则您声明并保证，您已获得授权并有权使前述法律主体受本协议的约束。<br/>
			<i></i>2.“品材汇”账号应当使用手机号码绑定注册， 请用户使用尚未与“品材汇”账号绑定的手机号码，以及根据本协议未被品材汇封禁的手机号码注册“品材汇”账号。 为满足用户的需求或者产品需要，品材汇可以对账号注册和绑定的方式进行变更，而无须事先通知用户。<br/>
			<i></i>3.如果注册申请者的账号曾被封禁或涉嫌虚假注册及冒用他人名义注册及其他未能得到许可的理由， 品材汇将拒绝其注册申请。<br/>
			<i></i>4.注册成功后，用户可以通过“品材汇”软件中“我的账号”界面浏览或更改本人的个人信息。<br/>
			<i></i>5.用户注册时所填写的个人信息如有变动，需通过“我的账号”界面及时更改。因用户未及时更改所造成的损失，品材汇概不负责。
			
		</p><br/>
		<p>
			<strong>第三条 用户账户安全</strong><br/>
			<i></i>1.注册用户的登陆密码管理由用户来负责，用户不应把自己的密码告诉第三人。<br/>
			<i></i>2.如用户未完成手机号注册流程而继续使用“品材汇”软件的，系统将自动为该用户分配一个品材汇账号，该账号无需用配套密码登陆。用户需尽快完成该品材汇账号与手机号的绑定。<br/>
			<i></i>3.用户如果遗失自己的登陆密码，需及时通知品材汇，并按照品材汇的指引来解决该问题。 
			
		</p><br/>
		<p>
			<strong>第四条 服务的变更、中断、终止</strong><br/>
			<i></i><strong><u>1.根据国家法律法规和政策的变化及网站运营需要，品材汇有权进行不定期修订，并在品材汇网站予以公布。</u></strong><br/>
				<i></i>2.因设备维修或更换、故障和通信中断等可预见到的原因而临时中断服务的，品材汇将在品材汇平台发布公告，通知用户。<br/>
				<i></i>3.当品材汇用户发生如下情况时，品材汇可单方面终止本协议，取消用户继续使用品材汇产品及服务的资格：
				（1）盗用他人的个人身份信息或手机号码；
				（2）注册时提供虚假信息；
				（3）妨碍其他用户的正常使用；
				（4）伪称是品材汇的工作人员或管理人员；
				（5）擅自强行更改品材汇的计算机系统，或对计算机系统构成威胁的；
				（6）传播谣言，用各种手段来毁损品材汇的名誉与妨碍品材汇的正常运营；
				（7）利用品材汇的产品及服务宣传垃圾广告；
				（8）其他违反本协议的行为及违法行为。
		</p><br/>
		<p>
					<strong>第五条 用户个人隐私信息保护</strong><br/>
				<i></i>1.未经用户同意，品材汇不会向任何第三方公开、透露用户个人隐私信息，但以下特定情形除外：
					（1）根据法律法规规定或有权机关的指示，提供用户的个人隐私信息；
					（2）由于用户将其密码告知他人或与他人共享注册帐户与密码，由此导致个人信息的泄漏， 或其他非因品材汇原因导致的个人隐私信息的泄露；
					（3）用户自行向第三方公开其个人隐私信息；
					（4）用户与品材汇及合作单位之间，就用户个人隐私信息的使用公开三方达成一致， 品材汇因此向合作单位公开用户个人隐私信息；
					（5）由于黑客攻击、电脑病毒侵入及其他非因品材汇过错等因素导致用户个人隐私信息的泄露。<br/>
					<i></i>2.用户同意品材汇可在以下事项中使用用户的个人隐私信息：
					（1）向用户及时发送重要通知，如软件更新、本协议条款的变更；
					（2）品材汇内部进行审计、数据分析和研究等，以改进品材汇的产品、服务和与用户之间的沟通；
					（3）依本协议约定，品材汇管理、审查用户信息及采取的处理措施；
					（4）依据法律法规的规定。
		</p><br/>
		<p>
			<p>
				<strong>第六条 用户使用规范</strong><br/>
				<i></i>1.品材汇用户不能利用品材汇账号或品材汇提供的服务进行如下行为：
				（1）擅自更改、删除或毁损品材汇广告业务提供的各种信息；
				（2）利用技术手段批量建立虚假账号；
				（3）侵犯品材汇以及第三方的知识产权；
				（4）提交、发布虚假信息，或盗用他人资料、冒充他人名义；
				（5）未经许可,在品材汇网站发布广告； 
				（6）未经许可，在品材汇网站发布、传播含有以下内容的信息：
				（a）反对宪法所确定的基本原则的；
				（b）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的;
				（c）损害国家荣誉和利益的;
				（d）煽动民族仇恨、民族歧视，破坏民族团结的；
				（e）破坏国家宗教政策，宣扬邪教和封建迷信的；
				（f）散布谣言，扰乱社会秩序，破坏社会稳定的；
				（g）散步淫秽、色情、赌博、暴力、凶杀、恐怖、诈骗或者教唆犯罪的；
				（h）侮辱或者诽谤他人，侵害他人合法权益的；
				（i）含有中华人民共和国法律、行政法规所禁止的其它内容的。
				（7）违反本协议的行为；
				（8）其他违法以及不正当的行为。<br/>
				<i></i>2.您应当及时更新资质及会员信息，品材汇将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整的信息。如品材汇按您最后一次提供的信息与您联系未果、您未按品材汇的要求及时提供信息、您提供的信息存在明显不实的，您将承担因此对您自身、他人及品材汇造成的全部损失与不利后果。<br/>
				<i></i>3.您应当遵守诚实信用原则，确保所发布的商品或服务信息真实、与实际所销售的商品及/或提供的服务相符，并切实履行您的交易承诺。同时您应确保自有的商品或服务符合国家或行业标准，并对商品或服务的质量承担保证责任。<br/>
				<i></i>4.您有义务维护品材汇网络市场的良性竞争秩序，不得贬低、诋毁竞争对手，不得干扰品材汇进行的任何交易、活动，不得以任何不正当方式提升或试图提升自身的信用度，不得侵犯他人著作权、商标权、专利权等知识产权或合法权利，不得利用品材汇从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动。<br/>
				<i></i>5.您应对在合作过程中获悉的品材汇商业秘密或未公开信息、技术承担保密责任，否则由此产生的一切法律责任由您承担。
			</p>
		</p><br/>
		<p>
			<p>
			<strong><u>
				第七条 免责条款<br/>
				<i></i>1.品材汇提供的服务中包括广告，用户同意在使用过程中显示品材汇与第三方（包括供应商、 合作伙伴等）提供的广告。除法律法规明确规定外，用户应自行对依该广告信息进行的交易负责，对用户因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，品材汇不承担任何责任。<br/>
				<i></i>2.如因用户行为（包括但不限于线上、线下签署各类协议、发布信息及披露信息等）造成第三人人身、财产损害或品材汇名誉、财产损失的，由此所产生的一切法律责任由用户承担。如品材汇因用户行为而代为向第三人承担赔偿责任的，品材汇有权向用户追偿，由此产生的费用（包括但不限于律师费、诉讼费、公证费、差旅费等其他实现债权的费用）由用户全部承担。<br/>
				<i></i>3.品材汇对下列事项不作任何陈述与保证：
				（1）使用本服务时或者本服务与任何其它硬件、软件、系统或数据结合时，本服务的安全性、及时性、不受干扰或不发生错误；
				（2）本服务完全符合用户的要求或经验；
				（3）本服务不存在功能、使用、数据安全上的任何缺陷；
				（4）按用户的要求对本服务的功能进行定制化修改。<br/>
				<i></i>4.任何超出品材汇合理控制能力范围所导致服务暂时停用的，包括但不限于天灾、水灾、火灾、地震、政府管控、社会动荡等不可抗力，品材汇无须承担法律责任。
			</u></strong>
			</p>
		</p><br/>
		<p>
			<p>
				<strong>第八条 知识产权保护</strong><br/>
				<i></i>1.品材汇（域名：www.pincai360.com）由全容电商经营管理。除非全容电商另行声明，品材汇网站刊载的所有内容，包括产品、技术、软件、程序、数据及其他信息（包括但不限于文字、图像、图片、照片、图表、色彩、版面设计、电子文档）的所有知识产权（包括但不限于著作权、商标权、专利权、商业秘密等）及相关权利，均为全容电商所有。未经全容电商许可，任何人不得擅自使用（包括但不限于复制、传播、展示、镜像、上载、下载），否则全容电商将依据相关法律法规之规定，追究擅自使用者法律责任。<br/>
				<i></i>2.品材汇的Logo、“品材汇”等文字、图形及其组合，以及品材汇的其他标识、徵记、产品和服务名称均为全容电商在中国大陆地区国家工商总局商标局注册的商标。未经全容电商书面授权，任何人不得以任何方式展示、使用或作其他处理，也不得向他人表明您有权展示、使用或作其他处理，否则全容电商将依据相关法律法规，追究擅自使用者法律责任。<br/>

			</p>
		</p><br/>
		<p>
			<p>
			<strong><u>
				第九条 法律适用和争议解决<br/>
				<i></i>1.本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律法规；法律法规未有规定的，参照中国大陆地区的商业惯例和行业惯例。<br/>
				<i></i>2.若用户和品材汇之间发生争议，首先应友好协商解决，协商不成的，您同意将争议提交全容电商住所地有管辖权的人民法院管辖。
			</strong></u>
			</p>
		</p><br/>
		<p>
			<p>
				<strong>第十条 其他</strong><br/>
				<i></i>1.品材汇郑重提醒用户注意本协议中免除品材汇责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本协议。<br/>
				<i></i>2.本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有法律约束力。<br/>
				<i></i>3.本协议版权由品材汇所有，品材汇保留一切解释和修改的权利。
			</p>
		</p><br/>
	</div>
	</body>
</html>