<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>申请信息录入</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../../themes/css/purchasing/purchasing.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix" id="fiexd-top">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>申请信息录入</h2>
    </div>
    <div class="topNav clearfix" id="margin-top">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  end -->
    <div class="wrapper">
         <form action="" class="assistant-form">
           <div class="div-item"><label>公司名称</label> <input type="text" placeholder="请填写公司姓名" name="" /></div>
           <div class="div-item"  >
           <label>年营业额</label> 
            <select>
              <option>请选择</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <i class="icon-up"></i>
           </div>
           <div class="div-box">
             <div class="div-item"><label>决策人</label> <input type="text" placeholder="请填写采购决策人姓名" name="" /></div>
             <div class="div-item"><label>联系方式</label> <input type="text" placeholder="请填写手机号或联系电话" name="" /></div>
             <div class="div-item"><label>电子邮箱</label> <input type="text" placeholder="请填写常用邮箱" name="" /></div>
             <div class="div-item"><label>QQ号</label> <input type="text" placeholder="请填写QQ号码" name="" /></div>
           </div>
           <div class="div-box">
             <div class="div-item"><label>集采预期</label> <input type="text" placeholder="自定义内容" name="" /></div>
             <div class="div-item">
                <label>或者</label> 
                <select>
                  <option>手动选择预期</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>  
               <i class="icon-up"></i>            
             </div>
           </div>
           <div class="div-box">
             <div class="div-item"><label class="label-say">畅所欲言</label> <textarea placeholder="说说贵公司是如何采购的说说公司采购的付款方式等..." ></textarea></div>
           </div>             
           <div class="div-submit"><a href="assistant.entry.state.html">提交</a><!-- <input type="submit" value="提交" class="submit-btn" /> --> </div>          
         </form>
    </div>
</body>
    <script type="text/javascript" src="../../../resources/js/jquery-1.8.3.min.js"></script>   
    <script type="text/javascript" src="../../../themes/js/common/m.base.js"></script>
</html>