<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>展会</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="展会" />
        <meta name="Description" content="展会" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/exhibition/exhibition.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
        <select class="select-box">
             <option>合作展会</option>
             <option>国内展会</option>
             <option>国内展会</option>
        </select>                    
      </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
<div class="wrapper">
<!--     <div id="navTabs">
      <ul>
          <li><a href="#tabs-1" class="border_right" title="">进行中</a></li>
          <li><a href="#tabs-2" title="">历史展会</a></li>
      </ul>
      <div id="tabs_container">          
          <div id="tabs-1">
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>                                                                                                                                                
          </div>

          <div id="tabs-2">
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>                                                                                                                             
          </div>
      </div>
  </div>     -->             
<!-- tabs -->
    <div  class="tabs">
      <ul class="menu">
          <li class="on border_right">招标预告</li>
          <li>中标公告</li>
      </ul>
      <div  class="main">          
          <div  class="tab" style="display:block;">
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>
             <a href="exhibition.details.html">
                 <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                 <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                 <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                 <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
             </a>                                                                                                                     
          </div>

          <div  class="tab" >
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">2中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">2中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>
               <a href="exhibition.details.html">
                   <p> <img src="../../themes/images/test.jpg" alt="" /></p>
                   <p class="t1">中国第十一届上海国际博览中心建材世界博览会</p>
                   <p ><span class="color">招标单位：</span><span>北京五棵松文化艺术有限公司</span></p>
                   <p ><span class="color">截止日期：</span><span>2016-06-18</span></p>           
               </a>                                                                                                                 
          </div>
      </div>
  </div> 
  <!-- tabs  end-->
  <!--  footer  --> 
    <footer class="footer">
        <div class="lineUp"></div>
        <ul class="footer-links">
            <li class="">
             <a  class="loginGo"  href="#">登录</a>
             <!-- 登录后 账号显示 -->
           <!--  <div class="loginOk">
                 <a href="" class="account">1297698705</a>
                 <a href="">注销</a>
            </div> -->
            </li>
            <li class="ringtLine"><a  class="regist"  href="#">注册</a></li>
            <li><a   href="#">电脑版</a></li>
            <li><a  href="#top">客户端</a></li>
        </ul>
        <div class="lineUp">
        </div>
<!--         <ul class="footer-platforms">
            <li class="footer-icon-apps"><a class="badge J_ping"  href="#">客户端</a></li>
            <li class="touchscreen current"><a class="J_ping"  href="javascript:void(0)">触屏版</a></li>
            <li class="icon-pc"><a id="layout_toPcHome" class="J_ping"  href="javascript:void(0);">电脑版</a></li>
        </ul>
        <div class="lineUp"> -->
        </div>
        <div class="footer-copyright">
            Copyright&copy;2015 pincai360.com 版权所有
        </div>
    </footer>
  <!--  footer end -->   
</div>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../resources/js/tabulous.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>

    <script type="text/javascript">
      $(function(){ 
         //切换 
         tabs();
          $(".purSortSelect").each(function(){
            var s=$(this);
            var z=parseInt(s.css("z-index"));
            var dt=$(this).children("dt");
            var dd=$(this).children("dd");
            var _show=function(){dd.show();dt.addClass("act");s.css("z-index",z+1);};   //展开效果
            var _hide=function(){dd.hide();dt.removeClass("act");s.css("z-index",z);};    //关闭效果
            dt.click(function(){dd.is(":hidden")?_show():_hide();});
            dd.find("li").click(function(){$(this).addClass("act").siblings().removeClass("act");dt.children(".txt").html($(this).html());_hide();});
            $("body").click(function(i){ !$(i.target).parents(".purSortSelect").first().is(s) ? _hide():"";});
          });
      })
    </script>
</body>
</html>