<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>展会详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="展会详情" />
        <meta name="Description" content="展会详情" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/exhibition/exhibition.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>展会详情</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
  <div class="wrapper">
        <div class="content_details">          
            <div class="details">
                 <img src="../../themes/images/test.jpg" alt="" />
                 <p class="t1 textOver">第20届中国国际厨房、卫浴设施展览会</p>
                 <ul>
                    <li><span class="color">开始时间 </span><span> 2015-06-03</span></li>
                    <li><span class="color">结束时间 </span><span> 2015-06-09</span></li>
                    <li><span class="color">展会地址 </span><span> 上海市浦东新区龙阳路2345号</span></li>
                    <li><span class="color">所在城市 </span><span> 上海市</span></li>
                    <li><span class="color">距离开展 </span><span><b>6</b> 天</span></li>
                </ul>
                <div class="content_info">
                   <p> 第20届中国国际厨房、卫浴设施展览会及系列配套主题展将于2015年6月3日-6日在上海新国际博览中心（上海市浦东新区龙阳路2345号）隆重举办。
                   </p>
                   <p>
                     如火六月，品格人的热情如天气般火热。在北京展上，品格集成水槽大放异彩取得佳绩;对此次上海展，品格集成水槽团队更是蓄势待发。品格集成水槽展馆位于N2D03。作为集成水槽的始创者，品格集成水槽以308平米的展馆面积精心演绎品格展馆，带给您最舒适的参观体验。全新的展馆设计亮相上海展，以黑白作为主色调，外形设计简约不失大气，展馆内区域划分合理且极具人性化，带给参观客户愉悦的厨房体验。
                   </p>
                   <p>
                     同时，品格集成水槽的众多新品也将一齐在上海展上亮相，敬请期待！
                   </p>
                   <p>
                     免责声明 此信息由商家会员发布，请自行核实内容真实性，如产生任何纠纷本站对此不承担责任。
                   </p>
                   <p>留言咨询</p>
                </div>
           </div>                  
      </div>
  </div>    
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>

</body>
</html>