<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>全部分类</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/classify/classify.css" />  
</head>
<body >
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>全部分类</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  end -->
<div class="wrapper">
 <!--  viewport -->
  <div class="viewport">
    <ul class="classfy-box">
       <li>
         <a href="classify.two.html">
           <i></i>
           <div class="classfy-text">
             <p>装饰辅料</p>
             <p class="p-two">水泥、砌块、腻子、胶粘、钢材、保洁</p>
           </div>
         </a>
        </li>
       <li>
         <a href="classify.two.html">
           <i></i>
           <div class="classfy-text">
             <p>石材</p>
             <p class="p-two">花岗岩、大理石、人造石、雕刻、养护</p>
           </div>
         </a>
        </li>
       <li>
         <a href="classify.two.html">
           <i></i>
           <div class="classfy-text">
             <p>木业</p>
             <p class="p-two">原木、木皮、木板、木质家具</p>
           </div>
         </a>
        </li>
       <li>
         <a href="classify.two.html">
           <i></i>
           <div class="classfy-text">
             <p>玻璃</p>
             <p class="p-two">原片、装饰玻璃、节能玻璃、安全玻璃</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>建筑陶瓷</p>
             <p class="p-two">屋面瓦片、瓷砖、马赛克</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>饰面材料</p>
             <p class="p-two">装饰线条、饰面板、石膏线、金箔</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>吊顶隔断</p>
             <p class="p-two">龙骨、软膜、装饰吊顶、隔断</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>地板</p>
             <p class="p-two">木地板、PVC地板、功能地板</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>楼梯</p>
             <p class="p-two">楼梯、栏杆、扶手、铁艺</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>门窗</p>
             <p class="p-two">木质、金属、铝合金、玻璃、塑料</p>
           </div>
         </a>
        </li> 
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>五金</p>
             <p class="p-two">门锁、合页、拉手、地弹簧、钢钉、螺丝</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>涂料</p>
             <p class="p-two">墙面漆、木器漆、金属漆、地坪漆</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>开关插座</p>
             <p class="p-two">开关、插座、控制面板</p>
           </div>
         </a>
        </li> 
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>照明设备</p>
             <p class="p-two">筒灯、射灯、吊灯、灯盘、室外灯</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>墙纸地毯</p>
             <p class="p-two">墙纸、墙布、地毯、地垫、地毡</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>窗帘</p>
             <p class="p-two">窗帘、窗纱、布艺</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>厨房设备</p>
             <p class="p-two">橱柜、水槽、燃气炉、油烟机、水处理设备</p>
           </div>
         </a>
        </li> 
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>卫浴洁具</p>
             <p class="p-two">浴室柜、面盆、浴缸、便器、水嘴、地漏</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>电料</p>
             <p class="p-two">电线、电缆、电工、电气</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>管材</p>
             <p class="p-two">电线管、给排水管、管材配件</p>
           </div>
         </a>
        </li> 
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>防水防火</p>
             <p class="p-two">防水涂料、卷材、堵漏、防腐、防火</p>
           </div>
         </a>
        </li>
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>保温吸声</p>
             <p class="p-two">保温、隔热、吸声、隔声</p>
           </div>
         </a>
        </li> 
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>节能环保</p>
             <p class="p-two">太阳能、碳纤维、红外线、电热采暖</p>
           </div>
         </a>
        </li> 
       <li>
         <a href="">
           <i></i>
           <div class="classfy-text">
             <p>新型材料</p>
             <p class="p-two">新型建筑、装饰材料</p>
           </div>
         </a>
        </li>                                                                                                                  
    </ul>
  </div>
  <!--  viewport  end--> 
</div>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
</body>
</html>