<div id="scroller">
	<div id="pullDown">
		<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span>
	</div>
	
	<input id="collectionPage" type="hidden" value="1"/>
	<!-- 列表 -->
	<div class="comList" id="collectionList">
		<div class="comItem">
			<a href="">
				<div class="clearfix">
					<div class="comItemTil textOver">深圳市中金岭南有色金属股份有限公司深圳市中金岭南有色金属股份有限公司</div>
					<i class="comItemIcon"></i>
				</div>
				<div class="mainPro textOver">主营产品：五金，门窗，太阳能；</div>
				<div class="address textOver">广东省深圳市福田区</div>
			</a>
		</div>
		<div class="comItem">
			<a href="">
				<div class="clearfix">
					<div class="comItemTil textOver">深圳市中金岭南有色金属股份有限公司</div>
					<i class="comItemIcon"></i>
				</div>
				<div class="mainPro textOver">主营产品：五金，门窗，太阳能；</div>
				<div class="address textOver">广东省深圳市福田区</div>
			</a>
		</div>
		<div class="comItem">
			<a href="">
				<div class="clearfix">
					<div class="comItemTil textOver">深圳市中金岭南有色金属股份有限公司</div>
					<i class="comItemIcon"></i>
				</div>
				<div class="mainPro textOver">主营产品：五金，门窗，太阳能；</div>
				<div class="address textOver">广东省深圳市福田区</div>
			</a>
		</div>
		<div class="comItem">
			<a href="">
				<div class="clearfix">
					<div class="comItemTil textOver">深圳市中金岭南有色金属股份有限公司</div>
					<i class="comItemIcon"></i>
				</div>
				<div class="mainPro textOver">主营产品：五金，门窗，太阳能；</div>
				<div class="address textOver">广东省深圳市福田区</div>
			</a>
		</div>
		<div class="comItem">
			<a href="">
				<div class="clearfix">
					<div class="comItemTil textOver">深圳市中金岭南有色金属股份有限公司</div>
					<i class="comItemIcon"></i>
				</div>
				<div class="mainPro textOver">主营产品：五金，门窗，太阳能；</div>
				<div class="address textOver">广东省深圳市福田区</div>
			</a>
		</div>
	</div>
	<!-- 列表 end -->

	<div id="pullUp">
		<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
	</div>
</div>