<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>收藏列表为空</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
</head>
<body class="emptybg">
	<div class="empty">
		<div class="emptyIco conllectionIco"></div>
		<div class="emptyTxt">亲，你的收藏夹中还没有任何内容哦~</div>
	</div>
</body>
</html>