<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>求购单列表页面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/purchase/purchase.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../resources/iscroll/iscroll.css" media="all" />
</head>
<body>

	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<a href="#" class="searchLink">
			<i class="searchIco"></i>
			<span class="searchTxt">大理石</span>
		</a>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->

	<div class="purSort clearfix">
		<div class="purSortList purSort1">
			<dl class="purSortSelect">
				<dt><span class="txt">综合排序</span><i></i></dt>
				<dd>
					<ul>
						<li st="" class="act">综合排序<i></i></li>
						<li st="2">结束时间从高到低<i></i></li>
						<li st="1">结束时间从低到高<i></i></li>
						<li st="6">报价数从高到低<i></i></li>
						<li st="5">报价数从低到高<i></i></li>
					</ul>
				</dd>
			</dl>
		</div>
		<div class="purSortList purSort2">
			<dl class="purSortSelect">
				<dt><span class="txt">审核状态</span><i></i></dt>
				<dd>
					<ul>
						<li st="" class="act">所有<i></i></li>
						<li st="8">已通过审核<i></i></li>
						<li st="7">未通过审核<i></i></li>
					</ul>
				</dd>
			</dl>
		</div>
		<a href="/seekbuy/screen" class="purSortList purSort3">筛选<i class="purSort3Ico"></i></a>
	</div>
	
	<div id="wrapper">
		<div id="scroller">
			<div id="pullDown">
				<span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span>
			</div>
			<!-- 列表 -->
			<div class="purList" id="purList">
			    <a name="top">1</a>
				<a href="purchase.details.html" class="purItem">
					<div class="purItemTil clearfix">
						<div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
						<i class="purItemTilIco"></i>
					</div>
					<ul class="purItemNum clearfix">
						<li class="row1">广东-深圳</li>
						<li class="row2">1000个</li>
						<li class="row3">剩余40天</li>
					</ul>
					<ul class="purItemDesc clearfix">
						<li class="purItemCom">深圳金华科技有限公司</li>
						<li class="purItemDay">截止2016-05-11</li>
						<li class="purItemQuote">80家已报价</li>
					</ul>
				</a>
				<a href="purchase.details.html" class="purItem">
					<div class="purItemTil clearfix">
						<div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
						<i class="purItemTilIco"></i>
					</div>
					<ul class="purItemNum clearfix">
						<li class="row1">广东-深圳</li>
						<li class="row2">1000个</li>
						<li class="row3">剩余40天</li>
					</ul>
					<ul class="purItemDesc clearfix">
						<li class="purItemCom">深圳金华科技有限公司</li>
						<li class="purItemDay">截止2016-05-11</li>
						<li class="purItemQuote">80家已报价</li>
					</ul>
				</a>
				<a href="purchase.details.html" class="purItem">
					<div class="purItemTil clearfix">
						<div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
						<i class="purItemTilIco"></i>
					</div>
					<ul class="purItemNum clearfix">
						<li class="row1">广东-深圳</li>
						<li class="row2">1000个</li>
						<li class="row3">剩余40天</li>
					</ul>
					<ul class="purItemDesc clearfix">
						<li class="purItemCom">深圳金华科技有限公司</li>
						<li class="purItemDay">截止2016-05-11</li>
						<li class="purItemQuote">80家已报价</li>
					</ul>
				</a>
				<a href="purchase.details.html" class="purItem">
					<div class="purItemTil clearfix">
						<div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
						<i class="purItemTilIco"></i>
					</div>
					<ul class="purItemNum clearfix">
						<li class="row1">广东-深圳</li>
						<li class="row2">1000个</li>
						<li class="row3">剩余40天</li>
					</ul>
					<ul class="purItemDesc clearfix">
						<li class="purItemCom">深圳金华科技有限公司</li>
						<li class="purItemDay">截止2016-05-11</li>
						<li class="purItemQuote">80家已报价</li>
					</ul>
				</a>
				<a href="purchase.details.html" class="purItem">
					<div class="purItemTil clearfix">
						<div class="purItemTilTxt">中铁十七局公司观山湖高志塘项目五金相关工中铁十七局公司观山湖高志塘项目五金相关工</div>
						<i class="purItemTilIco"></i>
					</div>
					<ul class="purItemNum clearfix">
						<li class="row1">广东-深圳</li>
						<li class="row2">1000个</li>
						<li class="row3">剩余40天</li>
					</ul>
					<ul class="purItemDesc clearfix">
						<li class="purItemCom">深圳金华科技有限公司</li>
						<li class="purItemDay">截止2016-05-11</li>
						<li class="purItemQuote">80家已报价</li>
					</ul>
				</a>
			</div>
			<!-- 列表 end -->
			<div id="pullUp">
				<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../resources/iscroll/iscroll.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../themes/js/purchase/purchase.list.js"></script>
</body>
</html>