<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>求购单详情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/purchase/purchase.css" />
</head>
<body>
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<h2>求购单详情</h2>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->
	
	<div class="main">
		<div class="detailBan"><img src="../../themes/images/purchase/img1.jpg"></div>
		<div class="detailTil">【欧派橱柜】顶级橱柜 请问这个欧派系列的橱柜多少钱线下20年品质保证 【专业30年橱柜系列】</div>

		<table cellpadding="0" cellspacing="0" width="100%" class="detailTab">
			<tbody>
				<tr>
					<td width="70"><div class="lft">商品名</div></td>
					<td><div class="rgt">橱柜</div></td>
				</tr>
				<tr>
					<td><div class="lft">类目</div></td>
					<td><div class="rgt">厨卫厨具</div></td>
				</tr>
				<tr>
					<td><div class="lft">数量</div></td>
					<td><div class="rgt">850/平方米</div></td>
				</tr>
				<tr>
					<td><div class="lft">是否含税</div></td>
					<td><div class="rgt">增值税发票</div></td>
				</tr>
				<tr>
					<td><div class="lft">报价数</div></td>
					<td><div class="rgt">80家</div></td>
				</tr>
				<tr>
					<td><div class="lft">有效期</div></td>
					<td>
						<div class="rgt clearfix">
							<span class="fl">2015-11-11</span>
							<span class="fr grey">30天后报价结束</span>
						</div>
					</td>
				</tr>
				<tr>
					<td><div class="lft">所在地</div></td>
					<td>
						<div class="clearfix">
							<div class="rgt fl" style="padding-right:0;">广东省 深圳市</div>
							<a href="" class="checkInq">查看对应询价单>></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="contactBg">
			<div class="contactTil">亲，报价后可见联系信息哦</div>
			<div class="contactInfo">
				<table cellpadding="0" cellspacing="0" width="100%" class="contactTable">
					<tbody>
						<tr>
							<td width="35" align="center"><div class="icon icon1g"></div></td>
							<td width="71"><div class="txt1">联系人</div></td>
							<td><div class="txt2">*********************</div></td>
						</tr>
						<tr>
							<td align="center"><div class="icon icon2g"></div></td>
							<td><div class="txt1">移动电话</div></td>
							<td><div class="txt2">*********************</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="contactInfo">
				<table cellpadding="0" cellspacing="0" width="100%" class="contactTable">
					<tbody>
						<tr>
							<td width="35" align="center"><div class="icon icon1"></div></td>
							<td width="71"><div class="txt1">联系人</div></td>
							<td><div class="txt2">佛山五金建材城 赵嘉欣</div></td>
						</tr>
						<tr>
							<td align="center"><div class="icon icon2"></div></td>
							<td><div class="txt1">移动电话</div></td>
							<td><div class="txt2">138 0013 8000</div></td>
						</tr>
					</tbody>
				</table>
			</div> -->
		</div>

		<div class="detailsInfo">
			<div class="detailsInfoTil">详情介绍</div>
			<div class="detailsInfoTxt textAlign">
				&nbsp;&nbsp;&nbsp;&nbsp;在家居馆看中了欧派一套 名为“暮光之恋” 整体橱柜是超晶板门板，石英石台面，可以上门设计吗？3.5米的地柜和台面，1.5米的吊柜，一共要多少钱啊？<br>
				&nbsp;&nbsp;&nbsp;&nbsp;听说：欧派它只是牌子响  它的低端配置都是别个的高
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
</body>
</html>