<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>资讯-热点推荐</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="采购专场" />
        <meta name="Description" content="采购专场" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/purchase/purchase.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../resources/iscroll/iscroll.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/news/news.css" />  
</head>
<body>
      <!-- top -->
      <div class="topTil clearfix">
            <a href="javascript:pageBack();" class="topBack"></a>
            <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
            <a href="new.search.html" class="a-link"><div class="icon-wen"></div></a>
            <h2>品材汇新闻</h2>
      </div>
      <div class="topNav clearfix">
            <a href="">
              <div class="topNavIco topNavIco_1"></div>
              <div class="topNavTxt">首页</div>
            </a>
            <a href="">
              <div class="topNavIco topNavIco_2"></div>
              <div class="topNavTxt">分类</div>
            </a>
            <a href="">
              <div class="topNavIco topNavIco_3"></div>
              <div class="topNavTxt">搜索</div>
            </a>
            <a href="">
              <div class="topNavIco topNavIco_4"></div>
              <div class="topNavTxt">微名片</div>
            </a>
            <a href="">
              <div class="topNavIco topNavIco_5"></div>
              <div class="topNavTxt">我的</div>
            </a>
      </div>
    <!-- top  -->
   <div class="marketMenu clearfix">
      <a onclick="loadView('new.list1')" class="act">热点推荐</a>
      <a onclick="loadView('new.list2')">名企动态</a>
      <a onclick="loadView('new.list3')">建材前沿</a>
      <a onclick="loadView('new.list4')">市场分析</a>
      <span class="mark"></span>
    </div> 
   <div id="wrapper"></div>

</body>
     <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
     <script type="text/javascript" src="../../resources/iscroll/iscroll.js"></script>
     <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
     <script type="text/javascript" src="../../themes/js/news/news.index.js"></script>       
</html>