<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>资讯-详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="采购专场" />
        <meta name="Description" content="采购专场" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/news/news.css" />  
</head>
<body>
   <div class="div-details">
     <div class="div-t">
       <a href="" class="a-title">大品牌掀“低价”风云 加速家具行业洗牌步调户思维催家具业裂变 家具行业转型喜忧参半</a>
       <p><span>品材汇</span><span>2015-05-15</span><span>10:38</span></p>
     </div>
     <div class="div-content">
       <p>现如今，随着地板行业市场竞争愈发激烈，地板企业有关产品创新的呼声也是越来越高。</p>
       <img src="../../themes/images/news/test4.jpg" />
       <p>各种各样的地板产品万象纷呈，这一方面是地板企业积极应市态度的体现，另一方面这种创新也逐渐映射出了目前市场上的些许问题。</p>
       <p>地板产品创新成为企业扭转逆局的关键随着国内市场经济的发展，国内地板行业的大市场环境已经发生了变化，市场竞争也变得越来越激烈。</p>
       <img src="../../themes/images/news/test4.jpg" />       
     </div>
      <a href="" class="a-link">打开品材汇客户端，查看更多精彩内容</a>
      <div class="div-tj">
        <h2>精彩推荐</h2>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>                                        
      </div>
   </div>
  <!-- fixed-box -->
  <div class="fixed-box">
     <div class="download" >
       <div class="download-box">
         <img  class="icon-top-x"  src="../../themes/images/common/icon-top-x.png"  />
         <a href="javascript:;"><img class="icon-logo"src="../../themes/images/common/icon-logo.png" /></a>
         <div class="text"><span class="span1">下载手机客户端</span><span class="span2">询价议价更便捷</span></div>
         <a  href="javascript:;" >
          <img  class="btn-download"  src="../../themes/images/common/btn-download.png" />
        </a>
       </div>
     </div> 
  </div> 
  <!-- fixed-box end -->  
</body>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>      
</html>