<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>采购名企公司店铺详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../resources/iscroll/iscroll.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/company/company.css" media="all"  />  
</head>
<body>

  <div id="wrapper" >
    <div id="scroller">
      <div id="pullDown">
        <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span>
      </div>
      <div class="main">
    <!--  banner -->
      <div class="banner">
  <!-- top -->
    <div class="topTil2 clearfix " >
      <a href="javascript:pageBack();" class="topBack"></a>
      <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
      <a href="#" class="searchLink">
        <i class="searchIco"></i>
        <span class="searchTxt">输入产品或商家关键词</span>
      </a>
    </div>
    <div class="topNav clearfix">
      <a href="">
        <div class="topNavIco topNavIco_1"></div>
        <div class="topNavTxt">首页</div>
      </a>
      <a href="">
        <div class="topNavIco topNavIco_2"></div>
        <div class="topNavTxt">分类</div>
      </a>
      <a href="">
        <div class="topNavIco topNavIco_3"></div>
        <div class="topNavTxt">搜索</div>
      </a>
      <a href="">
        <div class="topNavIco topNavIco_4"></div>
        <div class="topNavTxt">微名片</div>
      </a>
      <a href="">
        <div class="topNavIco topNavIco_5"></div>
        <div class="topNavTxt">我的</div>
      </a>
    </div>
  <!-- top end -->      
         <img src="../../themes/images/purchasing/testBanner.jpg">
         <div class="logo">
           <img src="../../themes/images/purchasing/mrLogo.jpg">
         </div>
      </div>
    <!-- banner  end-->
    <!--  viewport  --> 
    <div class="viewport">
        <div class="company_info">
           <ul>
              <li><span>杭州忍者龟陶瓷有限公司</span> <i></i></li>
              <li><span>主营：</span><span>陶瓷，瓷器</span></li>
              <li><span>位置：</span><span>杭州九天国际陶瓷艺术城 C307</span></li>
           </ul>
        </div>
  </div>
  <!--  viewport  end-->   
        <div class="marketMenu clearfix">
          <a href="javascript:;" class="act"><p><i class="i-bg"></i><span> 热门推荐</span></p> </a>
          <a href="javascript:;"><p><i></i><span>全部商品</span></p> </a>
        </div>

        <!-- 列表 -->
        <div class="exciting">
          <ul class="excitingItem clearfix" id="exciting">
            <li>
              <a href="">
                <div class="excitingImg">
                 <img class="lazy" src="../../themes/images/index/banter1.jpg"  data-original=""  title=""/>
               </div>
                <div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
                <div class="excitingPrict">￥80.00</div>
              </a>
            </li>
            <li>
              <a href="">
              <div class="excitingImg">
                 <img class="lazy" src="../../themes/images/market/img2.jpg"  data-original=""  title=""/>
               </div>
                <div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
                <div class="excitingPrict">￥80.00</div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="excitingImg">
                 <img class="lazy" src="../../themes/images/index/test3.jpg"  data-original=""  title=""/>
               </div>
                <div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
                <div class="excitingPrict">￥80.00</div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="excitingImg">
                 <img class="lazy" src="../../themes/images/index/test1.jpg"  data-original=""  title=""/>
               </div>
                <div class="excitingTxt">供应护眼台灯供应供应护眼台灯供应护眼台灯STY-915</div>
                <div class="excitingPrict">￥80.00</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="pullUp">
        <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
      </div>   
    </div>
  </div>
   <!-- 底部导航 -->
   <div class="foot-nav">
      <a href=""><i></i><span>分享</span></a>
      <a href=""><i></i><span>收藏</span></a>
      <a href="">全部商品</a>
      <a href="">公司介绍</a>
   </div>
   <!-- 底部导航  end-->

    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery.lazyload.min.js"></script>    
    <script type="text/javascript" src="../../resources/iscroll/iscroll.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
    <script type="text/javascript" src="../../themes/js/company/company.shop.js"></script>    
</body>
</html>