<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>公司信息介绍-联系方式</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../resources/iscroll/iscroll.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/company/company.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>杭州忍者龟陶瓷有限公司</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
  <div class="wrapper">
    <div class="info-div">
       <ul class="info-nav">
          <li><a href="company.info.html" >基本信息</a></li>
          <li><a href="company.contact.html" class="act">联系方式</a></li>
          <li><a href="company.certification.html">认证资质</a></li>
       </ul>
       <dl class="dl-info">
         <dd><b>联系人</b><span>深圳市瑞士地科技有限公司</span></dd>
         <dd><b>电话</b><span>0755-2974 1120</span><i></i></dd>
         <dd><b>移动电话</b><span>188 1387 1234</span><i></i></dd>
       </dl>
       <div class="div-address">
          <input id="address" type="hidden" value="深圳市 福田区 天安数码城 天吉大厦 D座4楼">
          <div id="container"></div>   
       </div>
   </div>    
  </div>

    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script><!-- 腾讯地图 javascript_v2 api -->
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
    <script type="text/javascript" src="../../themes/js/company/company.contact.js"></script>        
</body>
</html>