<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <title>公司信息介绍-认证资质</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
        <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <meta content="no-cache" http-equiv="pragma">
        <meta content="0" http-equiv="expires">
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../resources/iscroll/iscroll.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../../themes/css/company/company.css" />  
</head>
<body>
    <!-- top -->
    <div class="topTil clearfix">
          <a href="javascript:pageBack();" class="topBack"></a>
          <a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
          <h2>杭州忍者龟陶瓷有限公司</h2>
    </div>
    <div class="topNav clearfix">
          <a href="">
            <div class="topNavIco topNavIco_1"></div>
            <div class="topNavTxt">首页</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_2"></div>
            <div class="topNavTxt">分类</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_3"></div>
            <div class="topNavTxt">搜索</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_4"></div>
            <div class="topNavTxt">微名片</div>
          </a>
          <a href="">
            <div class="topNavIco topNavIco_5"></div>
            <div class="topNavTxt">我的</div>
          </a>
    </div>
  <!-- top  -->
  <div class="wrapper">
         <ul class="info-nav">
          <li><a href="company.info.html" >基本信息</a></li>
          <li><a href="company.contact.html" >联系方式</a></li>
          <li><a href="company.certification.html" class="act">认证资质</a></li>
       </ul>
      <div class="div-company">
        <div class="div-left">
           <img src="../../themes/images/company/test-logo.jpg" />
        </div>
        <div class="div-right">
            <p>九牧万美官方旗舰店九牧万美官方旗舰店九牧万美官方旗舰店</p>
            <p><i></i><span>企业认证</span></p>
        </div>
      </div>
      <div class="div-title">实拍照片</div>
      <ul class="ul-link">
        <li><a href=""><img src="../../themes/images/company/test-img.jpg" /></a></li>
        <li><a href=""><img src="../../themes/images/company/test-img.jpg" /></a></li>
        <li><a href=""><img src="../../themes/images/company/test-img.jpg" /></a></li>
        <li><a href=""><img src="../../themes/images/company/test-img.jpg" /></a></li>
        <li><a href=""><img src="../../themes/images/company/test-img.jpg" /></a></li>
        <li><a href=""><img src="../../themes/images/company/test-img.jpg" /></a></li>
      </ul>
     <div class="div-title">工商注册信息</div>  
     <dl class="dl-info-box">
         <dd><b>公司名称</b><span>深圳市品材汇有限公司</span></dd>
         <dd><b>公司地址</b><span>中国广东深圳洪湖路田贝综合楼11栋13号首层1号</span></dd>
         <dd><b>成立日期</b><span>2014年06月06日</span></dd>
         <dd><b>经营范围</b><span>电子产品的技术开发与销售、国内贸易、货物及技术进出口。</span></dd>
         <dd><b>注册号</b><span>440301109526735</span></dd>
         <dd><b>法人代表</b><span>张恭钦</span></dd>
         <dd><b>企业类型</b><span>有限责任公司</span></dd>
         <dd><b>营业期限</b><span>2014-06-06 至 2024-06-06</span></dd>
         <dd><b>登记机关</b><span>深圳市市场监督管理局</span></dd>         
       </dl>
  </div>
    <script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../themes/js/common/m.base.js"></script>      
</body>
</html>