<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>积分规则</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../../themes/css/member/member.css" media="all" />
</head>
<body id="memberbg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<h2>积分规则</h2>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->

	<div class="ruleLink"><a href="integral.html">点击查看我的积分记录</a></div>
	<div class="ruleTxt textAlign">品材汇积分成长系统是为了给处于不同成长阶段的童鞋提供更贴心，更强大的服务，以满足不同成长阶段的童鞋需要而出现的。</div>
	<div class="ruleTil">用户积分规则</div>
	<div class="ruleTabBox">
		<table cellpadding="0" cellspacing="0" width="100%" class="ruleTab">
			<thead>
				<tr>
					<td width="25%" bgcolor="#f7ecec">分类</td>
					<td width="35%" bgcolor="#f7ecec">积分规则</td>
					<td width="15%" bgcolor="#fbefef">积分</td>
					<td width="25%" bgcolor="#edf1f1">详情描述</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2"><div class="txt">资料</div></td>
					<td><div class="txt">完善个人资料奖励</div></td>
					<td><div class="txt">+10</div></td>
					<td rowspan="2"><div class="txt"></div></td>
				</tr>
				<tr>
					<td><div class="txt">完善商铺信息</div></td>
					<td><div class="txt">+10</div></td>
				</tr>
				<tr>
					<td rowspan="6"><div class="txt">认证</div></td>
					<td><div class="txt">通过邮箱认证</div></td>
					<td><div class="txt">+5</div></td>
					<td rowspan="6"><div class="txt"></div></td>
				</tr>
				<tr>
					<td><div class="txt">通过手机认证</div></td>
					<td><div class="txt">+5</div></td>
				</tr>
				<tr>
					<td><div class="txt">通过个人身份证认证</div></td>
					<td><div class="txt">+10</div></td>
				</tr>
				<tr>
					<td><div class="txt">通过营业执照认证</div></td>
					<td><div class="txt">+10</div></td>
				</tr>
				<tr>
					<td><div class="txt">通过实体认证</div></td>
					<td><div class="txt">+10</div></td>
				</tr>
				<tr>
					<td><div class="txt">通过品牌认证</div></td>
					<td><div class="txt">+10</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="ruleTxt2">↑更多积分等级和特权会陆续开放！</div>
	
	<script type="text/javascript" src="../../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../../themes/js/common/m.base.js"></script>
</body>
</html>