<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>搜索页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/search/search.css" media="all" />
</head>
<body id="searchBg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:pageBack();" class="screenBtn screenBtn1">取消</a>
		<a href="javascript:;" class="screenBtn screenBtn2">搜索</a>
		<div class="searchBox clearfix">
			<div class="searchSelect">
				<div class="select">供应商</div>
				<ul class="option">
					<li>产品</li>
					<li>供应商</li>
					<li>求购单</li>
				</ul>
			</div>
			<div class="searchWrapper">
				<i class="searchIco"></i>
				<div class="searchIptBox"><input type="text" class="searchIpt" placeholder="请输入搜索关键词"></div>
				<div class="hintBox">
					<ul class="hint">
						<li>请输入搜索关键词</li>
						<li>请输入搜索关键词</li>
						<li>请输入搜索关键词</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- top end -->

	<!-- 热词推荐 -->
	<div class="hotTil clearfix">
		<div class="fl">大家都在搜</div>
		<div class="replace"><i class="icon"></i>换一批</div>
	</div>
	<ul class="hotList clearfix">
		<li>五金</li>
		<li>门窗</li>
		<li>大墙</li>
		<li>瓷器</li>
		<li>地板</li>
		<li>厨具</li>
	</ul>

	<!-- 搜索历史 -->
	<ul class="history">
		<li>深圳市中金岭南有色金属股份有限公司</li>
		<li>深圳市中金岭南有色金属股份有限公司</li>
		<li>深圳市中金岭南有色金属股份有限公司</li>
		<li>深圳市中金岭南有色金属股份有限公司</li>
		<li>深圳市中金岭南有色金属股份有限公司</li>
	</ul>
	<div class="historyBtnBox"><a href="javascript:;" class="historyBtn">清空搜索历史</a></div>

	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../themes/js/search/search.js"></script>
</body>
</html>