<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>个人中心首页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="0" http-equiv="expires">
	<meta content="telephone=no, address=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="wap-font-scale" content="no">

	<link rel="stylesheet" type="text/css" href="../../themes/css/common/m.base.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../themes/css/member/member.css" media="all" />
</head>
<body id="memberbg">
	<!-- top -->
	<div class="topTil clearfix">
		<a href="javascript:pageBack();" class="topBack"></a>
		<a href="javascript:;" class="topNavBtn"><div class="topNavArr"></div></a>
		<h2>我的品材汇</h2>
	</div>
	<div class="topNav clearfix">
		<a href="">
			<div class="topNavIco topNavIco_1"></div>
			<div class="topNavTxt">首页</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_2"></div>
			<div class="topNavTxt">分类</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_3"></div>
			<div class="topNavTxt">搜索</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_4"></div>
			<div class="topNavTxt">微名片</div>
		</a>
		<a href="">
			<div class="topNavIco topNavIco_5"></div>
			<div class="topNavTxt">我的</div>
		</a>
	</div>
	<!-- top end -->

	<div class="headIcon">
		<img src="../../themes/images/member/headbg.png" width="100%">
		<div class="headIconBox"><img src="../../themes/images/member/img1.jpg"></div>
		<div class="headIconImg"></div>
	</div>

	<div class="homeCollection clearfix">
		<a href="">
			<div class="row row1">8</div>
			<div class="row row2">商品收藏</div>
		</a>
		<a href="">
			<div class="row row1">0</div>
			<div class="row row2">店铺收藏</div>
		</a>
	</div>

	<div class="homeNavBox">
		<a href="" class="homeNav clearfix homeNav1">
			<i class="lfIcon"></i>
			<div class="navTxt">我的积分</div>
			<i class="rgIcon"></i>
		</a>
		<a href="" class="homeNav clearfix homeNav2">
			<i class="lfIcon"></i>
			<div class="navTxt">商机频道</div>
			<i class="rgIcon"></i>
		</a>
		<a href="account/account.index.html" class="homeNav clearfix homeNav3">
			<i class="lfIcon"></i>
			<div class="navTxt">账号安全</div>
			<i class="rgIcon"></i>
		</a>
	</div>

	<div class="homeProBox">
		<div class="homeProTil">猜你喜欢</div>
		<ul class="homePro clearfix">
			<li>
				<a href="">
					<div class="homeProImg"><img src="../../themes/images/member/img2.jpg"></div>
					<div class="homeProTxt">固定家装系列（欧美田园风）舒适</div>
					<div class="homeProPrice">¥20000.00</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="homeProImg"><img src="../../themes/images/member/img2.jpg"></div>
					<div class="homeProTxt">固定家装系列</div>
					<div class="homeProPrice">¥20.00</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="homeProImg"><img src="../../themes/images/member/img2.jpg"></div>
					<div class="homeProTxt">固定家装系列（欧美田园风）舒适</div>
					<div class="homeProPrice">¥20000.00</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="homeProImg"><img src="../../themes/images/member/img2.jpg"></div>
					<div class="homeProTxt">固定家装系列（欧美田园风）舒适</div>
					<div class="homeProPrice">¥20000.00</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="homeProImg"><img src="../../themes/images/member/img2.jpg"></div>
					<div class="homeProTxt">固定家装系列（欧美田园风）舒适</div>
					<div class="homeProPrice">¥20000.00</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="homeProImg"><img src="../../themes/images/member/img2.jpg"></div>
					<div class="homeProTxt">固定家装系列（欧美田园风）舒适</div>
					<div class="homeProPrice">¥20000.00</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="homeAdv"><a href=""><img src="../../themes/images/member/img3.jpg" alt="品材汇"></a></div>

  <!--  footer  --> 
    <footer class="footer">
        <div class="lineUp"></div>
        <ul class="footer-links">
            <li class="">
             <a  class="loginGo"  href="#">登录</a>
             <!-- 登录后 账号显示 -->
           <!--  <div class="loginOk">
                 <a href="" class="account">1297698705</a>
                 <a href="">注销</a>
            </div> -->
            </li>
            <li class="ringtLine"><a  class="regist"  href="#">注册</a></li>
            <li><a  class="J_ping"  href="#">电脑版</a></li>
            <li><a class="J_ping"  href="#top">客户端</a></li>
        </ul>
        <div class="lineUp">
        </div>
<!--         <ul class="footer-platforms">
            <li class="footer-icon-apps"><a class="badge J_ping"  href="#">客户端</a></li>
            <li class="touchscreen current"><a class="J_ping"  href="javascript:void(0)">触屏版</a></li>
            <li class="icon-pc"><a id="layout_toPcHome" class="J_ping"  href="javascript:void(0);">电脑版</a></li>
        </ul>
        <div class="lineUp">
        </div> -->
        <div class="footer-copyright">
            Copyright&copy;2015 pincai360.com 版权所有
        </div>
    </footer>
  <!--  footer end -->
	
	<script type="text/javascript" src="../../resources/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../themes/js/common/m.base.js"></script>
	<script type="text/javascript" src="../../themes/js/member/member.index.js"></script>
</body>
</html>