
    <div id="scroller">
    <input id="list" type="hidden" name="" value="1"/>
      <div id="pullDown">
        <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span>
      </div>
      <!-- 列表 -->
      <div class="purList" id="purList">
          <div class="div-news"> 
           <a href="" class="a-title textAlign textOver">
           <i class="icon-hot"><img src="../../themes/images/purchasing/iconHot.png" width="14" /></i>
           大品牌掀“低价”风云 加速家具行业洗牌步调户思维催家具业裂变 家具行业转型喜忧参半</a>
           <div class="div-img">
             <a href=""><img src="../../themes/images/news/test1.jpg" /></a>
             <a href=""><img src="../../themes/images/news/test1.jpg" /></a>
             <a href=""><img src="../../themes/images/news/test1.jpg" /></a>
           </div>
         </div>  
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href="news.details.html"><img src="../../themes/images/news/test2.jpg"></a>
             <a href="news.details.html">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href=""><img src="../../themes/images/news/test2.jpg"></a>
             <a href="">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>
        <div class="div-list-news">  
           <div class="div-text-img">
             <a href=""><img src="../../themes/images/news/test2.jpg"></a>
             <a href="">
               <p class="textOver">大品牌掀“低价”风云 加速家具行业洗</p>
               <p>大品牌掀“低价”风云 加速家具行业具行云 加速家具行业具行</p>
             </a>
           </div>                   
        </div>                         
      </div>
      <!-- 列表 end -->
      <div id="pullUp">
        <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
      </div>
    </div>
